<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{171,309}</string>
                <key>spriteSourceSize</key>
                <string>{173,313}</string>
                <key>textureRect</key>
                <string>{{174,1},{171,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{323,312},{170,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{166,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{517,1},{166,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{164,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{665,311},{164,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{160,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{831,311},{160,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{163,313},{158,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{851,1},{158,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{160,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1,313},{160,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{685,1},{164,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{495,312},{168,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{168,309}</string>
                <key>spriteSourceSize</key>
                <string>{172,313}</string>
                <key>textureRect</key>
                <string>{{347,1},{168,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{171,310}</string>
                <key>spriteSourceSize</key>
                <string>{173,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Right1.png</string>
            <key>size</key>
            <string>{1010,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f49b5204b579bac10521d490112f81d6:e341e6b0cae1a05b6be5665de6e55515:fdf3154a3c86be4ad70c3a8a217c5f9b$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Right1.png</string>
        </dict>
    </dict>
</plist>
