<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,309}</string>
                <key>spriteSourceSize</key>
                <string>{174,311}</string>
                <key>textureRect</key>
                <string>{{691,1},{172,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{170,311}</string>
                <key>spriteSourceSize</key>
                <string>{176,315}</string>
                <key>textureRect</key>
                <string>{{350,1},{170,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{172,311}</string>
                <key>spriteSourceSize</key>
                <string>{176,315}</string>
                <key>textureRect</key>
                <string>{{176,1},{172,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{173,311}</string>
                <key>spriteSourceSize</key>
                <string>{175,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,309}</string>
                <key>spriteSourceSize</key>
                <string>{174,313}</string>
                <key>textureRect</key>
                <string>{{865,1},{172,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{169,308}</string>
                <key>spriteSourceSize</key>
                <string>{175,312}</string>
                <key>textureRect</key>
                <string>{{1209,1},{169,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{167,310}</string>
                <key>spriteSourceSize</key>
                <string>{175,314}</string>
                <key>textureRect</key>
                <string>{{522,1},{167,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{163,308}</string>
                <key>spriteSourceSize</key>
                <string>{175,314}</string>
                <key>textureRect</key>
                <string>{{1380,1},{163,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{162,308}</string>
                <key>spriteSourceSize</key>
                <string>{176,314}</string>
                <key>textureRect</key>
                <string>{{1545,1},{162,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{160,306}</string>
                <key>spriteSourceSize</key>
                <string>{174,312}</string>
                <key>textureRect</key>
                <string>{{1874,1},{160,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{163,307}</string>
                <key>spriteSourceSize</key>
                <string>{175,313}</string>
                <key>textureRect</key>
                <string>{{1709,1},{163,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Right9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,309}</string>
                <key>spriteSourceSize</key>
                <string>{176,315}</string>
                <key>textureRect</key>
                <string>{{1039,1},{168,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Right1.png</string>
            <key>size</key>
            <string>{2035,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f20f92068090561cbf0f4a08685e570:d73af249f56b09a79cefd12485d94df3:fdf3154a3c86be4ad70c3a8a217c5f9b$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Right1.png</string>
        </dict>
    </dict>
</plist>
