<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,207}</string>
                <key>spriteSourceSize</key>
                <string>{116,207}</string>
                <key>textureRect</key>
                <string>{{631,116},{116,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,208}</string>
                <key>spriteSourceSize</key>
                <string>{117,210}</string>
                <key>textureRect</key>
                <string>{{211,114},{115,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,208}</string>
                <key>spriteSourceSize</key>
                <string>{117,210}</string>
                <key>textureRect</key>
                <string>{{421,114},{115,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,209}</string>
                <key>spriteSourceSize</key>
                <string>{117,209}</string>
                <key>textureRect</key>
                <string>{{1049,116},{117,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,207}</string>
                <key>spriteSourceSize</key>
                <string>{116,209}</string>
                <key>textureRect</key>
                <string>{{840,116},{116,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{117,208}</string>
                <key>textureRect</key>
                <string>{{834,1},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{113,207}</string>
                <key>spriteSourceSize</key>
                <string>{117,209}</string>
                <key>textureRect</key>
                <string>{{1042,1},{113,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,207}</string>
                <key>spriteSourceSize</key>
                <string>{117,209}</string>
                <key>textureRect</key>
                <string>{{418,1},{111,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{109,207}</string>
                <key>spriteSourceSize</key>
                <string>{117,209}</string>
                <key>textureRect</key>
                <string>{{209,1},{109,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,206}</string>
                <key>spriteSourceSize</key>
                <string>{116,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{111,205}</string>
                <key>spriteSourceSize</key>
                <string>{117,209}</string>
                <key>textureRect</key>
                <string>{{627,1},{111,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,208}</string>
                <key>spriteSourceSize</key>
                <string>{117,210}</string>
                <key>textureRect</key>
                <string>{{1,112},{113,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Right3.png</string>
            <key>size</key>
            <string>{1259,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f20f92068090561cbf0f4a08685e570:d73af249f56b09a79cefd12485d94df3:fdf3154a3c86be4ad70c3a8a217c5f9b$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Right3.png</string>
        </dict>
    </dict>
</plist>
