<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Portal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,416},{249,215}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{249,215}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1322},{241,233}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{241,233}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal11.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1559},{257,229}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{257,229}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1330},{257,227}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{257,227}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal13.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1109},{263,219}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{263,219}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal14.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{257,205}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{257,205}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,199}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{255,199}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal16.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,209},{257,205}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{257,205}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{263,213}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{263,213}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal18.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,882},{257,225}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{257,225}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{257,229}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{257,229}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,223},{245,213}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{245,213}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{241,231}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{241,231}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal21.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,633},{227,221}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{227,221}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal22.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,659},{221,225}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{221,225}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{241,225}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{241,225}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal24.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1559},{253,227}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,227}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{243,205}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{243,205}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{261,215}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{261,215}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{249,207}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,207}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,438},{243,219}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{243,219}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1788},{257,231}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{257,231}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1790},{257,233}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{257,233}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1095},{243,225}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{243,225}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1525},{233,233}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{225,219}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{225,219}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
            <key>Portal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,856},{237,229}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{237,229}}</string>
                <key>sourceSize</key>
                <string>{267,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FramesPortal3.png</string>
            <key>size</key>
            <string>{755,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bba420cc46da94f6dbdb4fe8e36c91:bc47a50a6cce42b15228c6a3221b6aa3:550253bbabf0a874f3d4f28d108e2406$</string>
            <key>textureFileName</key>
            <string>FramesPortal3.png</string>
        </dict>
    </dict>
</plist>
