<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Portal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,346},{374,322}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{374,322}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal10.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,348},{376,348}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{376,348}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal11.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{386,344}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{386,344}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{384,342}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{384,342}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{394,338}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{394,338}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal14.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1144},{386,316}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{386,316}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal15.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,350},{386,300}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{386,300}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,354},{396,318}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{396,318}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{394,334}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{394,334}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{384,338}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{384,338}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{386,344}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{386,344}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,722},{368,322}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{368,322}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,348},{364,348}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{364,348}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1080},{344,334}}</string>
                <key>offset</key>
                <string>{-26,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{344,334}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal22.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1122},{334,340}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{334,340}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal23.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1458},{368,338}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{368,338}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,698},{380,342}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,342}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal25.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1532},{378,312}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{378,312}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal26.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,752},{390,322}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{390,322}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{378,314}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,314}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1416},{364,332}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{364,332}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{386,346}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{386,346}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,350}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{386,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,738},{382,340}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{382,340}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,1046},{362,350}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{362,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1410},{336,342}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{336,342}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>Portal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,698},{358,346}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,4},{358,346}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PortalSpriteSheet.png</string>
            <key>size</key>
            <string>{2032,1848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06fc76f0d9fd1f2ce7fd5b94632d7c96:bc47a50a6cce42b15228c6a3221b6aa3:3bdbe419b131fbd2cbb012526bc68565$</string>
            <key>textureFileName</key>
            <string>PortalSpriteSheet.png</string>
        </dict>
    </dict>
</plist>
