<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo1_correr_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1042,701},{346,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1385,1392},{346,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-1}</string>
                <key>spriteSize</key>
                <string>{348,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{695,1393},{348,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{348,351},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,0}</string>
                <key>spriteSize</key>
                <string>{348,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1,1},{348,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{348,699},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{348,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1,351},{348,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{348,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1,701},{348,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{348,1047},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{348,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1,1051},{348,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{348,1395},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{695,1},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,1}</string>
                <key>spriteSize</key>
                <string>{348,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1040,1393},{348,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{695,349},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,2}</string>
                <key>spriteSize</key>
                <string>{346,339}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2080,1},{346,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,3}</string>
                <key>spriteSize</key>
                <string>{346,339}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2075,1388},{346,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,4}</string>
                <key>spriteSize</key>
                <string>{346,335}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2424,1037},{346,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,1}</string>
                <key>spriteSize</key>
                <string>{348,337}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2425,342},{348,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-1}</string>
                <key>spriteSize</key>
                <string>{346,341}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1732,692},{346,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-1}</string>
                <key>spriteSize</key>
                <string>{344,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1732,346},{344,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1387,1},{346,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1387,349},{346,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1387,697},{346,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1392,1045},{346,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1730,1390},{346,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-1}</string>
                <key>spriteSize</key>
                <string>{348,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1042,1},{348,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{348,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1,1401},{348,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{695,697},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{348,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{348,1},{348,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{346,345}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{695,1045},{346,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,1}</string>
                <key>spriteSize</key>
                <string>{348,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1042,351},{348,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{348,341}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1042,1049},{348,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,3}</string>
                <key>spriteSize</key>
                <string>{346,339}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2083,1040},{346,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,2}</string>
                <key>spriteSize</key>
                <string>{346,337}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2428,1},{346,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,2}</string>
                <key>spriteSize</key>
                <string>{346,337}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2416,1388},{346,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,2}</string>
                <key>spriteSize</key>
                <string>{346,339}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2418,689},{346,339}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,1}</string>
                <key>spriteSize</key>
                <string>{346,341}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1740,1040},{346,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,0}</string>
                <key>spriteSize</key>
                <string>{346,341}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2075,692},{346,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_correr_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,0}</string>
                <key>spriteSize</key>
                <string>{346,341}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{2077,346},{346,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_correr_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-1}</string>
                <key>spriteSize</key>
                <string>{346,343}</string>
                <key>spriteSourceSize</key>
                <string>{434,345}</string>
                <key>textureRect</key>
                <string>{{1732,1},{346,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo1_correr_izquierda1.png</string>
            <key>size</key>
            <string>{2775,1750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:897ee4c64fc9693a1be6296cb5dfefa8:d0584e0a379451695bb1f79a9403661e:efbd7f8fcb346b6572c98225a3d659f7$</string>
            <key>textureFileName</key>
            <string>enemigo1_correr_izquierda1.png</string>
        </dict>
    </dict>
</plist>
