<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{166,310}</string>
                <key>spriteSourceSize</key>
                <string>{172,314}</string>
                <key>textureRect</key>
                <string>{{310,1},{166,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{167,309}</string>
                <key>spriteSourceSize</key>
                <string>{173,313}</string>
                <key>textureRect</key>
                <string>{{310,169},{167,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{167,310}</string>
                <key>spriteSourceSize</key>
                <string>{173,314}</string>
                <key>textureRect</key>
                <string>{{621,169},{167,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{164,307}</string>
                <key>spriteSourceSize</key>
                <string>{172,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{168,306}</string>
                <key>spriteSourceSize</key>
                <string>{174,312}</string>
                <key>textureRect</key>
                <string>{{617,338},{168,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{622,1},{166,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{930,1},{166,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{167,306}</string>
                <key>spriteSourceSize</key>
                <string>{173,312}</string>
                <key>textureRect</key>
                <string>{{933,169},{167,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{167,306}</string>
                <key>spriteSourceSize</key>
                <string>{173,312}</string>
                <key>textureRect</key>
                <string>{{1,335},{167,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{166,307}</string>
                <key>spriteSourceSize</key>
                <string>{172,313}</string>
                <key>textureRect</key>
                <string>{{1,167},{166,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{167,306}</string>
                <key>spriteSourceSize</key>
                <string>{173,312}</string>
                <key>textureRect</key>
                <string>{{309,338},{167,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{169,308}</string>
                <key>spriteSourceSize</key>
                <string>{175,312}</string>
                <key>textureRect</key>
                <string>{{925,338},{169,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Left1.png</string>
            <key>size</key>
            <string>{1240,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2b564d3f018e9fa6fb100345d725c5:e20e0d274e8d38bcd8305c319446c87d:067d8939471cc02e72988e055c0ca1b6$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Left1.png</string>
        </dict>
    </dict>
</plist>
