<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{113,207}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{1,114},{113,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{111,207}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,207}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{210,1},{111,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,207}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{419,1},{111,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{114,206}</string>
                <key>spriteSourceSize</key>
                <string>{116,208}</string>
                <key>textureRect</key>
                <string>{{1042,116},{114,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{210,114},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{418,114},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{626,114},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,204}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1043,1},{113,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,205}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{628,1},{111,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{835,1},{111,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{117,208}</string>
                <key>textureRect</key>
                <string>{{834,114},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Left3.png</string>
            <key>size</key>
            <string>{1249,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2b564d3f018e9fa6fb100345d725c5:e20e0d274e8d38bcd8305c319446c87d:067d8939471cc02e72988e055c0ca1b6$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Left3.png</string>
        </dict>
    </dict>
</plist>
