<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{120,221}</string>
                <key>spriteSourceSize</key>
                <string>{122,223}</string>
                <key>textureRect</key>
                <string>{{1,121},{120,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{119,221}</string>
                <key>spriteSourceSize</key>
                <string>{123,223}</string>
                <key>textureRect</key>
                <string>{{445,1},{119,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{119,221}</string>
                <key>spriteSourceSize</key>
                <string>{123,223}</string>
                <key>textureRect</key>
                <string>{{668,1},{119,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{118,221}</string>
                <key>spriteSourceSize</key>
                <string>{122,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{120,220}</string>
                <key>spriteSourceSize</key>
                <string>{124,222}</string>
                <key>textureRect</key>
                <string>{{224,122},{120,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{120,220}</string>
                <key>spriteSourceSize</key>
                <string>{122,222}</string>
                <key>textureRect</key>
                <string>{{446,122},{120,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{120,220}</string>
                <key>spriteSourceSize</key>
                <string>{122,222}</string>
                <key>textureRect</key>
                <string>{{668,122},{120,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{121,220}</string>
                <key>spriteSourceSize</key>
                <string>{123,222}</string>
                <key>textureRect</key>
                <string>{{1112,122},{121,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{119,218}</string>
                <key>spriteSourceSize</key>
                <string>{123,222}</string>
                <key>textureRect</key>
                <string>{{891,1},{119,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{118,219}</string>
                <key>spriteSourceSize</key>
                <string>{122,223}</string>
                <key>textureRect</key>
                <string>{{224,1},{118,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{119,220}</string>
                <key>spriteSourceSize</key>
                <string>{123,222}</string>
                <key>textureRect</key>
                <string>{{1111,1},{119,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Left9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{120,220}</string>
                <key>spriteSourceSize</key>
                <string>{124,222}</string>
                <key>textureRect</key>
                <string>{{890,122},{120,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Left2.png</string>
            <key>size</key>
            <string>{1333,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d2b564d3f018e9fa6fb100345d725c5:e20e0d274e8d38bcd8305c319446c87d:067d8939471cc02e72988e055c0ca1b6$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Left2.png</string>
        </dict>
    </dict>
</plist>
