<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoSigilo_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{88,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1,359},{86,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{82,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{179,1},{82,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{78,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{359,359},{78,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{74,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{538,437},{74,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{717,359},{70,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{66,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{813,1},{66,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1,447},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{881,180},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{896,359},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{947,180},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{949,1},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1013,180},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1015,1},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1081,1},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1081,67},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{66,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{717,431},{66,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{180,443},{68,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{70,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{739,180},{70,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{72,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{359,439},{72,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{72,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{665,180},{72,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{74,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{589,1},{74,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{511,1},{76,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{538,359},{76,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{429,180},{78,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{80,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{347,180},{80,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{82,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{179,180},{82,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{82,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{180,359},{82,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{82,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{263,1},{82,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{82,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{263,180},{82,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{78,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{431,1},{78,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{589,180},{74,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{68,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{811,180},{68,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1081,133},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1079,199},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1079,265},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1079,331},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1145,331},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1211,331},{64,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{64,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{896,425},{64,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoSigilo_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{66,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{881,1},{66,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{70,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{741,1},{70,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{74,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{665,1},{74,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{78,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{509,180},{78,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{82,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{347,1},{82,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{91,1},{86,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{86,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{91,180},{86,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoSigilo_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{88,177}</string>
                <key>spriteSourceSize</key>
                <string>{90,177}</string>
                <key>textureRect</key>
                <string>{{1,180},{88,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>iniko_sigilo_vasija3.png</string>
            <key>size</key>
            <string>{1276,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c189f2f4e837252d12cbf14fc73fca83:c62638420ade7754f787f8a03bb95175:c797aa09ac93b0aeb7d8bf4aa3a092f6$</string>
            <key>textureFileName</key>
            <string>iniko_sigilo_vasija3.png</string>
        </dict>
    </dict>
</plist>
