<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo1Asesino_derecha_detras_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,-23}</string>
                <key>spriteSize</key>
                <string>{275,222}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,1258},{275,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-97,-23}</string>
                <key>spriteSize</key>
                <string>{273,222}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{445,969},{273,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-96,-23}</string>
                <key>spriteSize</key>
                <string>{271,222}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,1535},{271,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,-23}</string>
                <key>spriteSize</key>
                <string>{269,222}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{447,1244},{269,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-23}</string>
                <key>spriteSize</key>
                <string>{265,222}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{632,1515},{265,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,-24}</string>
                <key>spriteSize</key>
                <string>{259,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{852,1221},{259,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-24}</string>
                <key>spriteSize</key>
                <string>{255,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1037,935},{255,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-24}</string>
                <key>spriteSize</key>
                <string>{255,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1088,676},{255,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-24}</string>
                <key>spriteSize</key>
                <string>{255,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{856,1482},{255,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-24}</string>
                <key>spriteSize</key>
                <string>{251,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1078,1446},{251,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-24}</string>
                <key>spriteSize</key>
                <string>{251,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1249,1192},{251,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-24}</string>
                <key>spriteSize</key>
                <string>{251,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1259,933},{251,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-24}</string>
                <key>spriteSize</key>
                <string>{251,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1220,1699},{251,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-24}</string>
                <key>spriteSize</key>
                <string>{257,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{866,676},{257,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-24}</string>
                <key>spriteSize</key>
                <string>{273,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{457,676},{273,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-24}</string>
                <key>spriteSize</key>
                <string>{287,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,969},{287,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-24}</string>
                <key>spriteSize</key>
                <string>{299,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1561,454},{299,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-24}</string>
                <key>spriteSize</key>
                <string>{307,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,1677},{307,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-24}</string>
                <key>spriteSize</key>
                <string>{317,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1242,445},{317,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-24}</string>
                <key>spriteSize</key>
                <string>{335,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{574,445},{335,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-24}</string>
                <key>spriteSize</key>
                <string>{353,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1328,223},{353,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-24}</string>
                <key>spriteSize</key>
                <string>{373,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1388,1},{373,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-24}</string>
                <key>spriteSize</key>
                <string>{391,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,1},{391,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-24}</string>
                <key>spriteSize</key>
                <string>{405,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,1270},{405,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-24}</string>
                <key>spriteSize</key>
                <string>{419,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,849},{419,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-24}</string>
                <key>spriteSize</key>
                <string>{423,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{423,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-24}</string>
                <key>spriteSize</key>
                <string>{421,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,426},{421,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{389,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{616,1},{389,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-24}</string>
                <key>spriteSize</key>
                <string>{369,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{598,223},{369,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-24}</string>
                <key>spriteSize</key>
                <string>{379,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1007,1},{379,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-24}</string>
                <key>spriteSize</key>
                <string>{373,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,223},{373,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-24}</string>
                <key>spriteSize</key>
                <string>{357,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{969,223},{357,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-24}</string>
                <key>spriteSize</key>
                <string>{349,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,445},{349,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-24}</string>
                <key>spriteSize</key>
                <string>{329,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{911,445},{329,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-24}</string>
                <key>spriteSize</key>
                <string>{323,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1683,232},{323,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-18}</string>
                <key>spriteSize</key>
                <string>{291,232}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,676},{291,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-12}</string>
                <key>spriteSize</key>
                <string>{229,244}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1763,1},{229,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{173,252}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1074,1192},{173,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{177,258}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{858,946},{177,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4}</string>
                <key>spriteSize</key>
                <string>{181,260}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{223,1808},{181,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{179,264}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{671,1221},{179,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{183,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{447,1515},{183,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{185,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{679,676},{185,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{669,951},{187,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{189,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1667,1738},{189,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{193,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1750,1543},{193,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{195,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1750,1346},{195,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{197,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1750,1147},{197,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-9}</string>
                <key>spriteSize</key>
                <string>{203,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{485,1785},{203,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{207,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{737,1782},{207,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-9}</string>
                <key>spriteSize</key>
                <string>{213,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1793,676},{213,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-9}</string>
                <key>spriteSize</key>
                <string>{217,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1531,1438},{217,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-9}</string>
                <key>spriteSize</key>
                <string>{223,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1442,1697},{223,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-9}</string>
                <key>spriteSize</key>
                <string>{229,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1310,667},{229,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-9}</string>
                <key>spriteSize</key>
                <string>{229,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{989,1739},{229,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-9}</string>
                <key>spriteSize</key>
                <string>{229,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1300,1445},{229,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-9}</string>
                <key>spriteSize</key>
                <string>{225,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1541,676},{225,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-9}</string>
                <key>spriteSize</key>
                <string>{227,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1481,919},{227,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-9}</string>
                <key>spriteSize</key>
                <string>{229,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1471,1186},{229,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_derecha_detras_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-9}</string>
                <key>spriteSize</key>
                <string>{217,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1750,928},{217,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo1_matar_detras_right2.png</string>
            <key>size</key>
            <string>{2008,1990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a3f396affeb000f9ca4a1be6f038437:5c9a1bb58442c47000b4a8eb6ab7fdba:a4ae6f08ed9a1744b8367cbc9938c854$</string>
            <key>textureFileName</key>
            <string>enemigo1_matar_detras_right2.png</string>
        </dict>
    </dict>
</plist>
