<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoRunning_Left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,320},{159,172}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{159,172}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left10.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{67,199}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{67,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{85,199}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{85,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left12.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,398},{97,192}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{97,192}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left13.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,389},{107,189}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{107,189}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left14.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,191},{115,187}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{115,187}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,365},{127,178}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{127,178}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,2},{145,178}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{145,178}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{163,176}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{163,176}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{155,180}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{155,180}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left19.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,191},{149,186}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{149,186}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{143,183}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{143,183}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left20.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{143,187}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{143,187}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left21.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,197},{141,190}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{141,190}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left22.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,200},{133,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{133,194}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left23.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{125,198}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{125,198}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left24.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{113,196}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{113,196}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left25.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{101,196}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{101,196}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left26.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,402},{79,195}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{79,195}}</string>
                <key>sourceSize</key>
                <string>{167,209}</string>
            </dict>
            <key>InikoRunning_Left27.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{65,197}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{65,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left28.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,200},{77,196}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{77,196}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{89,190}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,9},{89,190}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{131,189}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{131,189}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left30.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,380},{107,187}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{107,187}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,370},{126,181}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{126,181}}</string>
                <key>sourceSize</key>
                <string>{166,209}</string>
            </dict>
            <key>InikoRunning_Left32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,187},{135,181}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{135,181}}</string>
                <key>sourceSize</key>
                <string>{167,209}</string>
            </dict>
            <key>InikoRunning_Left33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,184},{145,179}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{145,179}}</string>
                <key>sourceSize</key>
                <string>{167,209}</string>
            </dict>
            <key>InikoRunning_Left34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,167},{151,176}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{151,176}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{117,193}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{117,193}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,200},{105,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{105,196}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,202},{101,197}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{101,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,202},{93,198}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{93,198}}</string>
                <key>sourceSize</key>
                <string>{163,208}</string>
            </dict>
            <key>InikoRunning_Left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,199}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{87,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRunning_Left9.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,203},{79,199}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{79,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InikoRunningLeft3.png</string>
            <key>size</key>
            <string>{1645,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bfb4307b3654d63944d69f56afcb0f:84d1c0bbf845b427f29f965bbd2241ae:dc5f018a386403a0f4fcdeb964000e4c$</string>
            <key>textureFileName</key>
            <string>InikoRunningLeft3.png</string>
        </dict>
    </dict>
</plist>
