<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoRunning_Left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{170,184}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,184}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{72,213}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,8},{72,213}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,104},{92,213}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{92,213}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,112},{104,206}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{104,206}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,263},{114,203}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{114,203}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,263},{122,199}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{122,199}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,290},{136,192}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{136,192}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left16.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,146},{154,190}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{154,190}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,188}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{174,188}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{166,192}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{166,192}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left19.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,192},{160,198}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{160,198}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,310},{154,195}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{154,195}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left20.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,156},{152,201}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{152,201}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left21.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{152,202}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{152,202}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left22.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{142,208}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{142,208}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left23.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,302},{134,212}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,9},{134,212}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,139},{122,210}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{122,210}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,244},{108,210}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{108,210}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,218},{84,209}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{84,209}}</string>
                <key>sourceSize</key>
                <string>{178,223}</string>
            </dict>
            <key>InikoRunning_Left27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,376},{70,211}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{70,211}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,292},{82,208}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,10},{82,208}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{96,204}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{96,204}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{140,203}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{140,203}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,128},{114,201}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,8},{114,201}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left31.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{135,195}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{135,195}}</string>
                <key>sourceSize</key>
                <string>{177,223}</string>
            </dict>
            <key>InikoRunning_Left32.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,144},{144,193}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{144,193}}</string>
                <key>sourceSize</key>
                <string>{178,223}</string>
            </dict>
            <key>InikoRunning_Left33.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,310},{156,191}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{156,191}}</string>
                <key>sourceSize</key>
                <string>{178,223}</string>
            </dict>
            <key>InikoRunning_Left34.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,146},{162,188}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{162,188}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{124,205}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{124,205}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,354},{112,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{112,208}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{108,211}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{108,211}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{100,212}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{100,212}}</string>
                <key>sourceSize</key>
                <string>{174,222}</string>
            </dict>
            <key>InikoRunning_Left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,198},{92,213}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{92,213}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
            <key>InikoRunning_Left9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,218},{84,213}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{84,213}}</string>
                <key>sourceSize</key>
                <string>{174,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InikoRunningLeft2.png</string>
            <key>size</key>
            <string>{2006,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bfb4307b3654d63944d69f56afcb0f:84d1c0bbf845b427f29f965bbd2241ae:dc5f018a386403a0f4fcdeb964000e4c$</string>
            <key>textureFileName</key>
            <string>InikoRunningLeft2.png</string>
        </dict>
    </dict>
</plist>
