<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo1_trescuartos_izquierda_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{2263,1},{158,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{2423,1},{158,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{2263,376},{158,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{2423,376},{158,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{378,621},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{753,621},{158,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1130,625},{158,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1132,467},{156,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1509,467},{156,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1132,155},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1509,155},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1886,155},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1,309},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{378,309},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{755,309},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{378,1},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{755,1},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1132,1},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1509,1},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1886,1},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1,155},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{378,155},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{152,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{755,155},{152,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1132,311},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1509,311},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1886,311},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1,465},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{378,465},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{755,465},{154,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1886,467},{156,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1,621},{156,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1507,625},{158,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,375}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1884,625},{158,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1,779},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{376,781},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{751,781},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1126,785},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1501,785},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_trescuartos_izquierda_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{158,373}</string>
                <key>spriteSourceSize</key>
                <string>{160,375}</string>
                <key>textureRect</key>
                <string>{{1876,785},{158,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo1_trescuartos_left1.png</string>
            <key>size</key>
            <string>{2582,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b458d8cdc7d66658f18cbc1a0b5d7c69:d35dccc3370cda7d6bbb4a99bdcc8ade:434362b13de6fe7dba96306a5ae8b984$</string>
            <key>textureFileName</key>
            <string>enemigo1_trescuartos_left1.png</string>
        </dict>
    </dict>
</plist>
