<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2Asesino_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-45}</string>
                <key>spriteSize</key>
                <string>{192,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{973,206},{192,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-45}</string>
                <key>spriteSize</key>
                <string>{192,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1015,1},{192,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-45}</string>
                <key>spriteSize</key>
                <string>{194,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{765,748},{194,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-45}</string>
                <key>spriteSize</key>
                <string>{196,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{817,1},{196,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-45}</string>
                <key>spriteSize</key>
                <string>{198,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{407,810},{198,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-45}</string>
                <key>spriteSize</key>
                <string>{194,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{831,491},{194,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-45}</string>
                <key>spriteSize</key>
                <string>{186,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{961,696},{186,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-45}</string>
                <key>spriteSize</key>
                <string>{176,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1027,411},{176,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-45}</string>
                <key>spriteSize</key>
                <string>{176,203}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1167,206},{176,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-46}</string>
                <key>spriteSize</key>
                <string>{176,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1209,1},{176,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-46}</string>
                <key>spriteSize</key>
                <string>{176,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1149,616},{176,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-46}</string>
                <key>spriteSize</key>
                <string>{176,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1205,411},{176,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-46}</string>
                <key>spriteSize</key>
                <string>{176,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1345,204},{176,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-46}</string>
                <key>spriteSize</key>
                <string>{174,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1387,1},{174,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-46}</string>
                <key>spriteSize</key>
                <string>{172,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1149,819},{172,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-46}</string>
                <key>spriteSize</key>
                <string>{168,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1327,614},{168,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-46}</string>
                <key>spriteSize</key>
                <string>{164,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1352,817},{164,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-24}</string>
                <key>spriteSize</key>
                <string>{162,245}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{651,258},{162,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-19}</string>
                <key>spriteSize</key>
                <string>{162,255}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{495,1},{162,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-15}</string>
                <key>spriteSize</key>
                <string>{160,263}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{333,1},{160,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-11}</string>
                <key>spriteSize</key>
                <string>{160,271}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{171,1},{160,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{160,277}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{169,296},{160,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{160,287}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1,591},{160,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{168,293}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{166,293}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1,296},{166,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{188,283}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{163,591},{188,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-15}</string>
                <key>spriteSize</key>
                <string>{158,263}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{353,545},{158,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-12}</string>
                <key>spriteSize</key>
                <string>{162,269}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{331,274},{162,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-26}</string>
                <key>spriteSize</key>
                <string>{158,241}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{671,505},{158,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-26}</string>
                <key>spriteSize</key>
                <string>{156,241}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{815,248},{156,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-24}</string>
                <key>spriteSize</key>
                <string>{156,245}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{607,764},{156,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-22}</string>
                <key>spriteSize</key>
                <string>{156,249}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{513,513},{156,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-24}</string>
                <key>spriteSize</key>
                <string>{156,245}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{659,1},{156,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-20}</string>
                <key>spriteSize</key>
                <string>{154,253}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{495,258},{154,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-46}</string>
                <key>spriteSize</key>
                <string>{152,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1383,407},{152,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-46}</string>
                <key>spriteSize</key>
                <string>{150,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1523,204},{150,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-46}</string>
                <key>spriteSize</key>
                <string>{146,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1563,1},{146,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-46}</string>
                <key>spriteSize</key>
                <string>{144,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1497,610},{144,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-46}</string>
                <key>spriteSize</key>
                <string>{142,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{204,876},{142,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-46}</string>
                <key>spriteSize</key>
                <string>{140,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1537,407},{140,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{136,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1675,204},{136,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{136,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1711,1},{136,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{136,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1518,813},{136,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-46}</string>
                <key>spriteSize</key>
                <string>{138,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1,880},{138,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-46}</string>
                <key>spriteSize</key>
                <string>{136,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1643,610},{136,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1679,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1813,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1849,1},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1656,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1781,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1815,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1949,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1985,1},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1792,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1917,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1951,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2085,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2121,1},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{1928,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2053,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2087,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2221,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2257,1},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2064,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2189,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2223,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2357,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2393,1},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2200,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2325,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2359,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2493,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2529,1},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2629,204},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2336,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2461,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2495,407},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2472,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2597,610},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-46}</string>
                <key>spriteSize</key>
                <string>{134,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,293}</string>
                <key>textureRect</key>
                <string>{{2608,813},{134,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_matar_left3.png</string>
            <key>size</key>
            <string>{2764,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b248c93db91175517effb6ec97e81071:b87daa91533147a881a074084ee0d8c0:5263d551f3b2ab06ef9fb4f118626239$</string>
            <key>textureFileName</key>
            <string>enemigo2_matar_left3.png</string>
        </dict>
    </dict>
</plist>
