<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2Asesino_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{205,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1407,220},{205,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-48}</string>
                <key>spriteSize</key>
                <string>{205,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1592,1},{205,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{207,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1383,1},{207,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{209,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{867,557},{209,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{211,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{654,573},{211,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-48}</string>
                <key>spriteSize</key>
                <string>{207,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1247,523},{207,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-48}</string>
                <key>spriteSize</key>
                <string>{199,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{435,591},{199,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-48}</string>
                <key>spriteSize</key>
                <string>{187,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1456,439},{187,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-48}</string>
                <key>spriteSize</key>
                <string>{187,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1614,220},{187,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-49}</string>
                <key>spriteSize</key>
                <string>{187,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1645,439},{187,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-49}</string>
                <key>spriteSize</key>
                <string>{189,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1799,1},{189,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-49}</string>
                <key>spriteSize</key>
                <string>{187,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1803,218},{187,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-49}</string>
                <key>spriteSize</key>
                <string>{187,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1990,1},{187,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-49}</string>
                <key>spriteSize</key>
                <string>{187,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1834,435},{187,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-49}</string>
                <key>spriteSize</key>
                <string>{185,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1992,218},{185,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-49}</string>
                <key>spriteSize</key>
                <string>{179,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{218,613},{179,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-49}</string>
                <key>spriteSize</key>
                <string>{175,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2023,435},{175,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-26}</string>
                <key>spriteSize</key>
                <string>{173,261}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1041,1},{173,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-21}</string>
                <key>spriteSize</key>
                <string>{171,271}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{731,284},{171,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{171,281}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{558,290},{171,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-12}</string>
                <key>spriteSize</key>
                <string>{171,289}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{385,300},{171,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-8}</string>
                <key>spriteSize</key>
                <string>{171,297}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{355,1},{171,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{171,305}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{182,1},{171,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{179,313}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{179,313}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1,316},{179,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{201,303}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{182,308},{201,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-16}</string>
                <key>spriteSize</key>
                <string>{169,281}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{703,1},{169,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-13}</string>
                <key>spriteSize</key>
                <string>{173,287}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{528,1},{173,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-28}</string>
                <key>spriteSize</key>
                <string>{167,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1078,527},{167,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-28}</string>
                <key>spriteSize</key>
                <string>{167,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1238,264},{167,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{165,261}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1071,264},{165,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-24}</string>
                <key>spriteSize</key>
                <string>{165,265}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{904,274},{165,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-26}</string>
                <key>spriteSize</key>
                <string>{165,261}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1216,1},{165,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-21}</string>
                <key>spriteSize</key>
                <string>{165,271}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{874,1},{165,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-49}</string>
                <key>spriteSize</key>
                <string>{163,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2179,1},{163,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-49}</string>
                <key>spriteSize</key>
                <string>{159,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1,631},{159,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-49}</string>
                <key>spriteSize</key>
                <string>{155,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2179,218},{155,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-49}</string>
                <key>spriteSize</key>
                <string>{153,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2200,435},{153,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-49}</string>
                <key>spriteSize</key>
                <string>{151,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2336,218},{151,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-49}</string>
                <key>spriteSize</key>
                <string>{149,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2344,1},{149,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-49}</string>
                <key>spriteSize</key>
                <string>{145,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2355,435},{145,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{143,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3494,216},{143,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-50}</string>
                <key>spriteSize</key>
                <string>{145,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3347,218},{145,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-50}</string>
                <key>spriteSize</key>
                <string>{145,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3353,1},{145,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-50}</string>
                <key>spriteSize</key>
                <string>{145,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3360,433},{145,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{143,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3500,1},{143,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-50}</string>
                <key>spriteSize</key>
                <string>{143,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3507,431},{143,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3639,216},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3645,1},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3570,646},{141,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3652,431},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3782,216},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3788,1},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-50}</string>
                <key>spriteSize</key>
                <string>{141,213}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3795,431},{141,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1834,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2051,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2268,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2485,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2489,218},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2502,435},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2495,1},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2632,218},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2645,435},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2702,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2638,1},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2775,218},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2788,435},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2919,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2781,1},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2918,218},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2931,435},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2924,1},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3061,218},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3074,435},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3136,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3067,1},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3204,218},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3217,435},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3353,652},{141,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-49}</string>
                <key>spriteSize</key>
                <string>{141,215}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3210,1},{141,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_matar_left2.png</string>
            <key>size</key>
            <string>{3937,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b248c93db91175517effb6ec97e81071:b87daa91533147a881a074084ee0d8c0:5263d551f3b2ab06ef9fb4f118626239$</string>
            <key>textureFileName</key>
            <string>enemigo2_matar_left2.png</string>
        </dict>
    </dict>
</plist>
