<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoAsesina_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,0}</string>
                <key>spriteSize</key>
                <string>{197,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1,731},{197,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{189,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{200,731},{189,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,0}</string>
                <key>spriteSize</key>
                <string>{179,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{391,731},{179,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-111,0}</string>
                <key>spriteSize</key>
                <string>{173,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{572,731},{173,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,0}</string>
                <key>spriteSize</key>
                <string>{165,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1199,571},{165,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,0}</string>
                <key>spriteSize</key>
                <string>{155,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1199,819},{155,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,0}</string>
                <key>spriteSize</key>
                <string>{147,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1357,249},{147,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{141,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1506,249},{141,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{141,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1515,497},{141,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{141,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1512,1},{141,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{141,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1649,249},{141,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-95,0}</string>
                <key>spriteSize</key>
                <string>{141,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1655,1},{141,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,0}</string>
                <key>spriteSize</key>
                <string>{139,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1658,497},{139,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-92,0}</string>
                <key>spriteSize</key>
                <string>{135,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1799,497},{135,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{131,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1798,1},{131,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,0}</string>
                <key>spriteSize</key>
                <string>{127,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1933,249},{127,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,0}</string>
                <key>spriteSize</key>
                <string>{123,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1936,497},{123,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,0}</string>
                <key>spriteSize</key>
                <string>{123,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2061,497},{123,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,0}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2064,1},{121,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,0}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2186,497},{121,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,0}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2187,1},{121,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,0}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2187,249},{121,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,0}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2309,497},{121,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,0}</string>
                <key>spriteSize</key>
                <string>{121,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2544,1},{121,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{119,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2544,124},{119,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{119,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2310,245},{119,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{119,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2431,245},{119,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{119,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2432,493},{119,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{119,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2552,245},{119,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,0}</string>
                <key>spriteSize</key>
                <string>{119,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2553,493},{119,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-82,0}</string>
                <key>spriteSize</key>
                <string>{123,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2062,249},{123,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,0}</string>
                <key>spriteSize</key>
                <string>{131,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1931,1},{131,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,0}</string>
                <key>spriteSize</key>
                <string>{139,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1792,249},{139,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,0}</string>
                <key>spriteSize</key>
                <string>{147,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1366,497},{147,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,0}</string>
                <key>spriteSize</key>
                <string>{153,246}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1357,1},{153,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-1}</string>
                <key>spriteSize</key>
                <string>{161,244}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2745,678},{161,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-1}</string>
                <key>spriteSize</key>
                <string>{169,244}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2674,432},{169,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-2}</string>
                <key>spriteSize</key>
                <string>{177,242}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2310,1},{177,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-3}</string>
                <key>spriteSize</key>
                <string>{185,240}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2745,245},{185,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-4}</string>
                <key>spriteSize</key>
                <string>{191,238}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2792,1},{191,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-5}</string>
                <key>spriteSize</key>
                <string>{199,236}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2544,741},{199,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-7}</string>
                <key>spriteSize</key>
                <string>{203,232}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1447,745},{203,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-9}</string>
                <key>spriteSize</key>
                <string>{211,228}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1652,745},{211,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-11}</string>
                <key>spriteSize</key>
                <string>{215,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2327,745},{215,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-11}</string>
                <key>spriteSize</key>
                <string>{223,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{2102,745},{223,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-11}</string>
                <key>spriteSize</key>
                <string>{235,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1865,745},{235,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{247,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{747,721},{247,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-11}</string>
                <key>spriteSize</key>
                <string>{261,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1131,308},{261,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{279,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{973,681},{279,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{305,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1131,1},{305,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-11}</string>
                <key>spriteSize</key>
                <string>{329,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{905,350},{329,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-11}</string>
                <key>spriteSize</key>
                <string>{347,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{905,1},{347,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-11}</string>
                <key>spriteSize</key>
                <string>{355,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{679,364},{355,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-11}</string>
                <key>spriteSize</key>
                <string>{361,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{679,1},{361,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{363,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{363,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{363,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{1,366},{363,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{363,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{227,1},{363,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{363,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{227,366},{363,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{363,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{453,1},{363,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-11}</string>
                <key>spriteSize</key>
                <string>{363,224}</string>
                <key>spriteSourceSize</key>
                <string>{441,246}</string>
                <key>textureRect</key>
                <string>{{453,366},{363,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>iniko_matar_1_right2.png</string>
            <key>size</key>
            <string>{2986,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4305cff79878add8a76dac132f9381dc:838b4845f539f1683c597dac84265117:2dadfefe3bbdc6704227bf01cd08418a$</string>
            <key>textureFileName</key>
            <string>iniko_matar_1_right2.png</string>
        </dict>
    </dict>
</plist>
