<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoAsesina_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-173,0}</string>
                <key>spriteSize</key>
                <string>{274,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1679,1},{274,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-167,0}</string>
                <key>spriteSize</key>
                <string>{262,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2027,1},{262,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-160,0}</string>
                <key>spriteSize</key>
                <string>{248,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2375,1},{248,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-156,0}</string>
                <key>spriteSize</key>
                <string>{240,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2375,251},{240,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,0}</string>
                <key>spriteSize</key>
                <string>{228,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2027,265},{228,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-144,0}</string>
                <key>spriteSize</key>
                <string>{216,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1679,277},{216,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,0}</string>
                <key>spriteSize</key>
                <string>{204,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2375,493},{204,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,0}</string>
                <key>spriteSize</key>
                <string>{196,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1313,317},{196,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,0}</string>
                <key>spriteSize</key>
                <string>{196,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1661,495},{196,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,0}</string>
                <key>spriteSize</key>
                <string>{196,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1313,515},{196,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,0}</string>
                <key>spriteSize</key>
                <string>{196,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,523},{196,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-134,0}</string>
                <key>spriteSize</key>
                <string>{196,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2009,495},{196,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,0}</string>
                <key>spriteSize</key>
                <string>{192,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1313,713},{192,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,0}</string>
                <key>spriteSize</key>
                <string>{188,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,721},{188,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,0}</string>
                <key>spriteSize</key>
                <string>{182,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2357,699},{182,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-123,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2009,879},{174,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1313,907},{170,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-121,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,911},{170,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,0}</string>
                <key>spriteSize</key>
                <string>{168,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2357,883},{168,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,0}</string>
                <key>spriteSize</key>
                <string>{168,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2357,1053},{168,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,0}</string>
                <key>spriteSize</key>
                <string>{168,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2009,1055},{168,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,0}</string>
                <key>spriteSize</key>
                <string>{168,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1661,1063},{168,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1313,1079},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,1083},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2357,1223},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2009,1225},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1661,1233},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1313,1247},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,1251},{166,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-119,0}</string>
                <key>spriteSize</key>
                <string>{166,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{949,1419},{166,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,0}</string>
                <key>spriteSize</key>
                <string>{172,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1661,889},{172,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-110,0}</string>
                <key>spriteSize</key>
                <string>{184,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2009,693},{184,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,0}</string>
                <key>spriteSize</key>
                <string>{194,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1661,693},{194,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,0}</string>
                <key>spriteSize</key>
                <string>{204,346}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,317},{204,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-1}</string>
                <key>spriteSize</key>
                <string>{214,344}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1117,1419},{214,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-89,-2}</string>
                <key>spriteSize</key>
                <string>{224,342}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1333,1415},{224,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-3}</string>
                <key>spriteSize</key>
                <string>{236,340}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1559,1415},{236,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-4}</string>
                <key>spriteSize</key>
                <string>{246,338}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1797,1401},{246,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-5}</string>
                <key>spriteSize</key>
                <string>{258,336}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1301,1765},{258,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-6}</string>
                <key>spriteSize</key>
                <string>{268,334}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,1767},{268,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-8}</string>
                <key>spriteSize</key>
                <string>{276,330}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{633,1769},{276,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-10}</string>
                <key>spriteSize</key>
                <string>{284,326}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1639,1757},{284,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-13}</string>
                <key>spriteSize</key>
                <string>{296,320}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1967,1741},{296,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-16}</string>
                <key>spriteSize</key>
                <string>{306,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2289,1723},{306,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-17}</string>
                <key>spriteSize</key>
                <string>{312,312}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2361,1391},{312,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-16}</string>
                <key>spriteSize</key>
                <string>{328,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{2045,1393},{328,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-16}</string>
                <key>spriteSize</key>
                <string>{346,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1331,1},{346,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{364,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{965,1},{364,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-16}</string>
                <key>spriteSize</key>
                <string>{390,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{633,1377},{390,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-16}</string>
                <key>spriteSize</key>
                <string>{426,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{633,949},{426,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-16}</string>
                <key>spriteSize</key>
                <string>{460,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{633,487},{460,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-16}</string>
                <key>spriteSize</key>
                <string>{484,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{633,1},{484,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-16}</string>
                <key>spriteSize</key>
                <string>{498,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{317,1537},{498,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-16}</string>
                <key>spriteSize</key>
                <string>{506,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1,1537},{506,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1,513},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{1,1025},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{317,1},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{317,513},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{620,346}</string>
                <key>textureRect</key>
                <string>{{317,1025},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>iniko_matar_1_right1.png</string>
            <key>size</key>
            <string>{2725,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4305cff79878add8a76dac132f9381dc:838b4845f539f1683c597dac84265117:2dadfefe3bbdc6704227bf01cd08418a$</string>
            <key>textureFileName</key>
            <string>iniko_matar_1_right1.png</string>
        </dict>
    </dict>
</plist>
