<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,209}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{626,114},{115,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{837,114},{115,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1,110},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{111,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{833,1},{111,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{417,1},{109,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{107,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{107,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{209,1},{107,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{625,1},{109,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1041,1},{111,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{209,110},{113,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,207}</string>
                <key>spriteSourceSize</key>
                <string>{115,209}</string>
                <key>textureRect</key>
                <string>{{417,112},{113,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoIdle_Right12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,208}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1045,114},{115,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Right3.png</string>
            <key>size</key>
            <string>{1254,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f49b5204b579bac10521d490112f81d6:e341e6b0cae1a05b6be5665de6e55515:fdf3154a3c86be4ad70c3a8a217c5f9b$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Right3.png</string>
        </dict>
    </dict>
</plist>
