<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2Asesino_derecha_detras_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-311,-146}</string>
                <key>spriteSize</key>
                <string>{166,220}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2119,819},{166,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-311,-146}</string>
                <key>spriteSize</key>
                <string>{166,220}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3789,607},{166,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-312,-147}</string>
                <key>spriteSize</key>
                <string>{168,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3619,437},{168,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-313,-147}</string>
                <key>spriteSize</key>
                <string>{170,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3445,655},{170,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-314,-147}</string>
                <key>spriteSize</key>
                <string>{172,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3775,1},{172,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-312,-147}</string>
                <key>spriteSize</key>
                <string>{168,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3783,175},{168,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-308,-147}</string>
                <key>spriteSize</key>
                <string>{160,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1883,1},{160,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-302,-147}</string>
                <key>spriteSize</key>
                <string>{148,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1153,837},{148,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-302,-147}</string>
                <key>spriteSize</key>
                <string>{148,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2539,1},{148,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-302,-147}</string>
                <key>spriteSize</key>
                <string>{148,218}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2759,1},{148,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-300,-148}</string>
                <key>spriteSize</key>
                <string>{152,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2103,1},{152,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-300,-148}</string>
                <key>spriteSize</key>
                <string>{150,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2321,1},{150,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-294,-148}</string>
                <key>spriteSize</key>
                <string>{162,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1901,821},{162,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-291,-148}</string>
                <key>spriteSize</key>
                <string>{170,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3617,655},{170,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-289,-148}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3839,395},{168,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-286,-148}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3789,775},{168,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-283,-148}</string>
                <key>spriteSize</key>
                <string>{174,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2599,809},{174,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-280,-121}</string>
                <key>spriteSize</key>
                <string>{180,270}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{817,1},{180,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-277,-115}</string>
                <key>spriteSize</key>
                <string>{188,282}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{721,203},{188,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273,-111}</string>
                <key>spriteSize</key>
                <string>{194,290}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{541,595},{194,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-269,-106}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{200,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-265,-102}</string>
                <key>spriteSize</key>
                <string>{206,308}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{513,285},{206,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-262,-98}</string>
                <key>spriteSize</key>
                <string>{214,316}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{325,621},{214,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-261,-95}</string>
                <key>spriteSize</key>
                <string>{228,322}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1,671},{228,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-262,-91}</string>
                <key>spriteSize</key>
                <string>{246,330}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1,339},{246,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-263,-88}</string>
                <key>spriteSize</key>
                <string>{266,336}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-243,-115}</string>
                <key>spriteSize</key>
                <string>{244,282}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{269,1},{244,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-243,-116}</string>
                <key>spriteSize</key>
                <string>{262,280}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{249,339},{262,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-283,-124}</string>
                <key>spriteSize</key>
                <string>{162,264}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1373,821},{162,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-282,-127}</string>
                <key>spriteSize</key>
                <string>{162,258}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1623,1},{162,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-281,-126}</string>
                <key>spriteSize</key>
                <string>{162,260}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1639,821},{162,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-280,-124}</string>
                <key>spriteSize</key>
                <string>{164,264}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1357,1},{164,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-279,-123}</string>
                <key>spriteSize</key>
                <string>{164,266}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1089,1},{164,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-278,-128}</string>
                <key>spriteSize</key>
                <string>{168,256}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2341,817},{168,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-125}</string>
                <key>spriteSize</key>
                <string>{170,262}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{737,487},{170,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-275,-148}</string>
                <key>spriteSize</key>
                <string>{174,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3599,1},{174,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273,-148}</string>
                <key>spriteSize</key>
                <string>{178,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3035,805},{178,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-271,-148}</string>
                <key>spriteSize</key>
                <string>{180,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2817,805},{180,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-270,-148}</string>
                <key>spriteSize</key>
                <string>{184,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3597,219},{184,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-268,-148}</string>
                <key>spriteSize</key>
                <string>{186,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3431,437},{186,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-266,-148}</string>
                <key>spriteSize</key>
                <string>{190,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3253,655},{190,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-265,-148}</string>
                <key>spriteSize</key>
                <string>{194,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3403,1},{194,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-264,-148}</string>
                <key>spriteSize</key>
                <string>{196,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3399,219},{196,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-262,-148}</string>
                <key>spriteSize</key>
                <string>{198,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3231,437},{198,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-261,-148}</string>
                <key>spriteSize</key>
                <string>{200,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3197,219},{200,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-260,-148}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3025,587},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{737,751},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{909,487},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2991,1},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{3197,1},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{945,705},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{911,183},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1117,401},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1119,167},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1153,619},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1325,385},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1327,167},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1361,603},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1533,385},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1569,603},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1535,167},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1741,385},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1777,603},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1743,165},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1949,383},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1985,601},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{1951,163},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2157,381},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2193,599},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2159,155},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2365,373},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2367,153},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2401,591},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2573,371},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2609,589},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2575,151},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2781,369},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2783,151},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2817,587},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_detras_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-259,-148}</string>
                <key>spriteSize</key>
                <string>{206,216}</string>
                <key>spriteSourceSize</key>
                <string>{910,512}</string>
                <key>textureRect</key>
                <string>{{2989,369},{206,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_matar_detras_right2.png</string>
            <key>size</key>
            <string>{4056,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:191db058ed882af35bd8b6d888813dae:4e2d3e1fdbd9d336327f0d6054a903c1:fb3f3fd0853d2324cde303e5a8765a84$</string>
            <key>textureFileName</key>
            <string>enemigo2_matar_detras_right2.png</string>
        </dict>
    </dict>
</plist>
