<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Portal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,531},{264,229}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{264,229}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal10.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,247},{256,249}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{256,249}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,245}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{274,245}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{272,243}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{272,243}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,249},{280,237}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{280,237}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,498},{274,219}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{274,219}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,489},{272,213}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{272,213}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,489},{274,219}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,30},{274,219}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{280,227}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{280,227}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{272,241}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{272,241}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{274,245}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{274,245}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,527},{260,227}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{260,227}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal20.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,762},{258,239}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{258,239}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,245},{242,237}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{242,237}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,774},{236,241}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{236,241}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal23.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,498},{256,241}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{256,241}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal24.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{270,243}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,243}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,765},{258,219}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{258,219}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal26.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,249},{276,229}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{276,229}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal27.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,756},{264,217}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,217}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,762},{258,235}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{258,235}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{274,247}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{274,247}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,249}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{274,249}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{270,241}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{270,241}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,247},{248,249}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{248,249}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,231},{238,235}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{238,235}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
            <key>Portal9.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,774},{254,245}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{254,245}}</string>
                <key>sourceSize</key>
                <string>{284,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FramesPortal2.png</string>
            <key>size</key>
            <string>{1735,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bba420cc46da94f6dbdb4fe8e36c91:bc47a50a6cce42b15228c6a3221b6aa3:550253bbabf0a874f3d4f28d108e2406$</string>
            <key>textureFileName</key>
            <string>FramesPortal2.png</string>
        </dict>
    </dict>
</plist>
