<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoAsesina_izquierda_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{168,0}</string>
                <key>spriteSize</key>
                <string>{264,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{949,723},{264,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{163,0}</string>
                <key>spriteSize</key>
                <string>{254,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{949,1071},{254,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{159,0}</string>
                <key>spriteSize</key>
                <string>{246,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{949,1419},{246,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{156,0}</string>
                <key>spriteSize</key>
                <string>{240,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1197,1419},{240,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,0}</string>
                <key>spriteSize</key>
                <string>{228,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1205,1071},{228,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,0}</string>
                <key>spriteSize</key>
                <string>{216,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1215,723},{216,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{140,0}</string>
                <key>spriteSize</key>
                <string>{206,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1265,1},{206,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,0}</string>
                <key>spriteSize</key>
                <string>{198,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1439,1393},{198,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{136,0}</string>
                <key>spriteSize</key>
                <string>{200,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1471,349},{200,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,0}</string>
                <key>spriteSize</key>
                <string>{200,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1473,1},{200,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,0}</string>
                <key>spriteSize</key>
                <string>{202,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1433,697},{202,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{137,0}</string>
                <key>spriteSize</key>
                <string>{200,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1435,1045},{200,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{135,0}</string>
                <key>spriteSize</key>
                <string>{198,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1637,697},{198,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{133,0}</string>
                <key>spriteSize</key>
                <string>{192,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1675,1},{192,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{130,0}</string>
                <key>spriteSize</key>
                <string>{186,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1637,1045},{186,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{126,0}</string>
                <key>spriteSize</key>
                <string>{180,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1825,1045},{180,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,0}</string>
                <key>spriteSize</key>
                <string>{176,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1837,697},{176,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{124,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1825,1393},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2001,1393},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2007,1045},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,0}</string>
                <key>spriteSize</key>
                <string>{172,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1869,345},{172,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{123,0}</string>
                <key>spriteSize</key>
                <string>{172,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2015,693},{172,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{172,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2043,345},{172,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{172,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2183,1041},{172,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2189,693},{170,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2217,345},{170,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2353,1389},{170,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2357,1041},{170,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2361,693},{170,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{122,0}</string>
                <key>spriteSize</key>
                <string>{170,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2389,345},{170,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,0}</string>
                <key>spriteSize</key>
                <string>{174,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2177,1393},{174,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{115,0}</string>
                <key>spriteSize</key>
                <string>{184,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1639,1393},{184,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,0}</string>
                <key>spriteSize</key>
                <string>{194,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1673,349},{194,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,0}</string>
                <key>spriteSize</key>
                <string>{204,346}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1265,349},{204,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{101,-1}</string>
                <key>spriteSize</key>
                <string>{212,344}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2533,693},{212,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-2}</string>
                <key>spriteSize</key>
                <string>{222,342}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2609,1},{222,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-3}</string>
                <key>spriteSize</key>
                <string>{232,340}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{633,1809},{232,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,-4}</string>
                <key>spriteSize</key>
                <string>{240,338}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1869,1},{240,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,-5}</string>
                <key>spriteSize</key>
                <string>{250,336}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2111,1},{250,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{77,-6}</string>
                <key>spriteSize</key>
                <string>{260,334}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1307,1767},{260,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,-8}</string>
                <key>spriteSize</key>
                <string>{270,330}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{975,1767},{270,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-10}</string>
                <key>spriteSize</key>
                <string>{280,326}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2281,1741},{280,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-13}</string>
                <key>spriteSize</key>
                <string>{292,320}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1959,1741},{292,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-16}</string>
                <key>spriteSize</key>
                <string>{304,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1643,1741},{304,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-17}</string>
                <key>spriteSize</key>
                <string>{318,312}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2529,1041},{318,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-16}</string>
                <key>spriteSize</key>
                <string>{334,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{2525,1389},{334,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-16}</string>
                <key>spriteSize</key>
                <string>{350,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{949,371},{350,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-16}</string>
                <key>spriteSize</key>
                <string>{368,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{949,1},{368,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-16}</string>
                <key>spriteSize</key>
                <string>{396,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{633,1411},{396,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-16}</string>
                <key>spriteSize</key>
                <string>{430,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{633,979},{430,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-16}</string>
                <key>spriteSize</key>
                <string>{464,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{633,513},{464,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-16}</string>
                <key>spriteSize</key>
                <string>{488,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{317,1543},{488,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-16}</string>
                <key>spriteSize</key>
                <string>{502,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1,1543},{502,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-16}</string>
                <key>spriteSize</key>
                <string>{510,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{633,1},{510,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-16}</string>
                <key>spriteSize</key>
                <string>{512,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-16}</string>
                <key>spriteSize</key>
                <string>{512,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1,515},{512,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-16}</string>
                <key>spriteSize</key>
                <string>{512,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{1,1029},{512,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-16}</string>
                <key>spriteSize</key>
                <string>{512,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{317,1},{512,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-16}</string>
                <key>spriteSize</key>
                <string>{512,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{317,515},{512,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-16}</string>
                <key>spriteSize</key>
                <string>{512,314}</string>
                <key>spriteSourceSize</key>
                <string>{610,346}</string>
                <key>textureRect</key>
                <string>{{317,1029},{512,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>iniko_matar_1_right1.png</string>
            <key>size</key>
            <string>{2842,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:036fdd3f7c03268d68525728aa2ed8ee:c623cf7caa3370e6e10e0a9b19c14958:2dadfefe3bbdc6704227bf01cd08418a$</string>
            <key>textureFileName</key>
            <string>iniko_matar_1_right1.png</string>
        </dict>
    </dict>
</plist>
