<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoAsesina_izquierda_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,0}</string>
                <key>spriteSize</key>
                <string>{188,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1583,1},{188,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,0}</string>
                <key>spriteSize</key>
                <string>{182,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1583,249},{182,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{113,0}</string>
                <key>spriteSize</key>
                <string>{176,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1767,249},{176,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{111,0}</string>
                <key>spriteSize</key>
                <string>{172,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1773,1},{172,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{107,0}</string>
                <key>spriteSize</key>
                <string>{164,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1945,249},{164,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{103,0}</string>
                <key>spriteSize</key>
                <string>{156,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1947,1},{156,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,0}</string>
                <key>spriteSize</key>
                <string>{148,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2111,249},{148,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,0}</string>
                <key>spriteSize</key>
                <string>{142,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2553,249},{142,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,0}</string>
                <key>spriteSize</key>
                <string>{144,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2261,249},{144,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,0}</string>
                <key>spriteSize</key>
                <string>{144,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2407,1},{144,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,0}</string>
                <key>spriteSize</key>
                <string>{144,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2407,249},{144,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{97,0}</string>
                <key>spriteSize</key>
                <string>{144,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2553,1},{144,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,0}</string>
                <key>spriteSize</key>
                <string>{142,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2697,249},{142,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{95,0}</string>
                <key>spriteSize</key>
                <string>{138,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2699,1},{138,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{92,0}</string>
                <key>spriteSize</key>
                <string>{134,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2839,1},{134,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{90,0}</string>
                <key>spriteSize</key>
                <string>{128,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2975,1},{128,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{89,0}</string>
                <key>spriteSize</key>
                <string>{126,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2975,249},{126,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,0}</string>
                <key>spriteSize</key>
                <string>{126,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3103,249},{126,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,0}</string>
                <key>spriteSize</key>
                <string>{124,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3231,249},{124,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,0}</string>
                <key>spriteSize</key>
                <string>{124,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3233,1},{124,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{124,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3357,249},{124,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{124,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3359,1},{124,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{124,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3483,249},{124,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{124,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3485,1},{124,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{122,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3609,249},{122,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{122,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3611,1},{122,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{122,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3733,249},{122,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{122,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3735,1},{122,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{122,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3859,1},{122,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{87,0}</string>
                <key>spriteSize</key>
                <string>{122,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3857,249},{122,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,0}</string>
                <key>spriteSize</key>
                <string>{126,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3105,1},{126,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{82,0}</string>
                <key>spriteSize</key>
                <string>{132,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2841,249},{132,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,0}</string>
                <key>spriteSize</key>
                <string>{140,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1131,595},{140,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,0}</string>
                <key>spriteSize</key>
                <string>{146,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2259,1},{146,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{72,0}</string>
                <key>spriteSize</key>
                <string>{152,246}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2105,1},{152,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-1}</string>
                <key>spriteSize</key>
                <string>{160,244}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3597,497},{160,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-2}</string>
                <key>spriteSize</key>
                <string>{166,242}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3353,497},{166,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-2}</string>
                <key>spriteSize</key>
                <string>{172,242}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{3109,497},{172,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-3}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2867,497},{180,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-4}</string>
                <key>spriteSize</key>
                <string>{186,238}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1835,497},{186,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-5}</string>
                <key>spriteSize</key>
                <string>{194,236}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2023,497},{194,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-7}</string>
                <key>spriteSize</key>
                <string>{200,232}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2219,497},{200,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-9}</string>
                <key>spriteSize</key>
                <string>{210,228}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1379,521},{210,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-11}</string>
                <key>spriteSize</key>
                <string>{218,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2647,497},{218,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina_izquierda_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-11}</string>
                <key>spriteSize</key>
                <string>{228,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{2421,497},{228,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-11}</string>
                <key>spriteSize</key>
                <string>{238,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1609,497},{238,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-11}</string>
                <key>spriteSize</key>
                <string>{252,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1357,267},{252,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-11}</string>
                <key>spriteSize</key>
                <string>{264,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1357,1},{264,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{282,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1131,311},{282,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{308,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1131,1},{308,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-11}</string>
                <key>spriteSize</key>
                <string>{332,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{905,353},{332,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-11}</string>
                <key>spriteSize</key>
                <string>{350,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{905,1},{350,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-11}</string>
                <key>spriteSize</key>
                <string>{360,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{679,367},{360,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{364,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{679,1},{364,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{366,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1,1},{366,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{366,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{1,369},{366,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{366,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{227,1},{366,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{366,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{227,369},{366,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{366,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{453,1},{366,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>InikoAsesina_izquierda_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-11}</string>
                <key>spriteSize</key>
                <string>{366,224}</string>
                <key>spriteSourceSize</key>
                <string>{434,246}</string>
                <key>textureRect</key>
                <string>{{453,369},{366,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>iniko_matar_1_right2.png</string>
            <key>size</key>
            <string>{3982,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:036fdd3f7c03268d68525728aa2ed8ee:c623cf7caa3370e6e10e0a9b19c14958:2dadfefe3bbdc6704227bf01cd08418a$</string>
            <key>textureFileName</key>
            <string>iniko_matar_1_right2.png</string>
        </dict>
    </dict>
</plist>
