<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoRuning_Right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{237,267}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{237,267}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{131,299}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{131,299}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right11.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1507},{101,297}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,15},{101,297}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right12.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1761},{121,293}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,13},{121,293}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right13.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1564},{147,285}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,13},{147,285}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1369},{171,281}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{171,281}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right15.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,958},{191,271}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{191,271}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right16.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,560},{211,265}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{211,265}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right17.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,299},{243,259}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{243,259}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{223,271}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{223,271}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{205,283}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{205,283}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{231,273}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{231,273}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right20.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,827},{187,287}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{187,287}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{171,293}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{171,293}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right22.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1267},{163,295}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{163,295}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right23.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1320},{155,297}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,13},{155,297}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right24.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1362},{143,297}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,14},{143,297}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right25.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1851},{131,297}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,14},{131,297}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right26.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1626},{105,293}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,14},{105,293}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right27.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1626},{133,289}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,13},{133,289}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right28.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1477},{147,287}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,12},{147,287}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right29.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1193},{167,285}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{167,285}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,279}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{229,279}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right30.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1016},{175,283}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{175,283}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right31.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,982},{181,283}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{181,283}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right32.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,755},{201,277}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{201,277}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right33.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,454},{227,269}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{227,269}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right34.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,522},{231,261}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{231,261}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{225,281}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{225,281}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,235},{221,285}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{221,285}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,241},{211,291}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{211,291}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,683},{201,297}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{201,297}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{185,295}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{185,295}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRuning_Right9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1151},{167,295}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,14},{167,295}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InikoRuning_Right1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9db77097d57a9b2aad839404abf244df:1/1$</string>
            <key>textureFileName</key>
            <string>InikoRuning_Right1.png</string>
        </dict>
    </dict>
</plist>
