<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoRuning_Right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{159,179}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{159,179}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{89,199}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{89,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right11.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,605},{69,199}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{69,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{83,197}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{83,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right13.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{99,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{99,191}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right14.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,193},{115,187}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{115,187}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right15.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,189},{129,183}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{129,183}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right16.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,338},{141,179}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{141,179}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right17.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,758},{163,173}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{163,173}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right18.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,382},{149,183}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{149,183}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right19.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,400},{137,191}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{137,191}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,573},{155,183}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{155,183}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,800},{125,193}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{125,193}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right21.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,203},{115,197}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{115,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right22.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,201},{109,197}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{109,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{103,199}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{103,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{97,199}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{97,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{89,199}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,9},{89,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right26.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,806},{71,197}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{71,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right27.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,400},{89,195}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{89,195}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right28.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,800},{99,193}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{99,193}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right29.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,201},{113,191}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{113,191}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,384},{153,187}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{153,187}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right30.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,790},{117,189}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{117,189}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right31.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,193},{121,189}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{121,189}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right32.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{135,185}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{135,185}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right33.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,183},{153,179}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{153,179}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right34.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,481},{155,175}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{155,175}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{151,189}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{151,189}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,597},{149,191}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{149,191}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,603},{141,195}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{141,195}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,199}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{135,199}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,404},{125,197}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{125,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
            <key>InikoRuning_Right9.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{113,197}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{113,197}}</string>
                <key>sourceSize</key>
                <string>{163,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InikoRuning_Right3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:841042fcfe32b264668a025c18afa9a8:1/1$</string>
            <key>textureFileName</key>
            <string>InikoRuning_Right3.png</string>
        </dict>
    </dict>
</plist>
