<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2_correr_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{253,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1,341},{253,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{245,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{513,1},{245,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{233,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{760,1},{233,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{219,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1,1355},{219,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{207,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{222,1355},{207,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{195,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{431,1355},{195,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{185,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{459,1011},{185,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{175,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{881,673},{175,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{167,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1042,1013},{167,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{163,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{628,1351},{163,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,1}</string>
                <key>spriteSize</key>
                <string>{163,334}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{610,1695},{163,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{169,332}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1160,337},{169,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{173,334}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1211,1011},{173,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{179,330}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{501,679},{179,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{185,328}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{973,341},{185,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,5}</string>
                <key>spriteSize</key>
                <string>{193,326}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{775,1719},{193,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2_correr_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,3}</string>
                <key>spriteSize</key>
                <string>{201,330}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{646,1013},{201,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{207,334}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1226,1},{207,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-1}</string>
                <key>spriteSize</key>
                <string>{207,336}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1,1695},{207,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{201,336}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{210,1695},{201,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{195,336}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{413,1695},{195,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{191,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{849,1013},{191,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{185,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{793,1353},{185,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2_correr_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{177,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{793,1540},{177,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2_correr_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{173,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1133,1538},{173,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2_correr_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{167,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1058,671},{167,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{169,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1227,671},{169,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{173,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1133,1713},{173,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2_correr_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{183,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1133,1353},{183,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2_correr_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{197,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{682,673},{197,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{207,334}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{250,1019},{207,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{221,330}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{750,341},{221,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,4}</string>
                <key>spriteSize</key>
                <string>{229,328}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{995,1},{229,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{239,330}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{509,341},{239,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{243,330}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{256,679},{243,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{247,334}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1,1019},{247,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{251,336}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{256,341},{251,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{253,336}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{1,681},{253,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_correr_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{253,338}</string>
                <key>spriteSourceSize</key>
                <string>{255,338}</string>
                <key>textureRect</key>
                <string>{{258,1},{253,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_correr_left1plist.png</string>
            <key>size</key>
            <string>{1472,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65d98e69176f66bad5b499e76bf9b0ee:4810d8d93fe46de61f89a64152a7e523:e983381fb227d036f166d116bd1f0b5b$</string>
            <key>textureFileName</key>
            <string>enemigo2_correr_left1plist.png</string>
        </dict>
    </dict>
</plist>
