<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoRunning_Left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{237,258}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{237,258}}</string>
                <key>sourceSize</key>
                <string>{245,312}</string>
            </dict>
            <key>InikoRunning_Left10.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,273},{99,295}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,14},{99,295}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRunning_Left11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{127,297}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,12},{127,297}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRunning_Left12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,526},{144,288}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,12},{144,288}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{159,283}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,12},{159,283}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRunning_Left14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{170,279}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,10},{170,279}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left15.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1429},{188,268}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{188,268}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left16.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1275},{216,266}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{216,266}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left17.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1493},{242,262}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{242,262}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{232,270}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{232,270}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{222,276}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{222,276}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,892},{214,273}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{214,273}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left20.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,870},{212,281}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{212,281}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left21.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,680},{210,282}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{210,282}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left22.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,478},{200,290}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{200,290}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left23.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,120},{186,296}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{186,296}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left24.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,308},{168,294}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,15},{168,294}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left25.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,374},{150,294}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,15},{150,294}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left26.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{116,293}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,14},{116,293}}</string>
                <key>sourceSize</key>
                <string>{250,313}</string>
            </dict>
            <key>InikoRunning_Left27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{96,295}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,14},{96,295}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left28.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,297},{114,292}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,13},{114,292}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left29.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,591},{133,284}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{133,284}}</string>
                <key>sourceSize</key>
                <string>{245,312}</string>
            </dict>
            <key>InikoRunning_Left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,672},{196,283}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{196,283}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left30.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,877},{160,279}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,13},{160,279}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left31.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1084},{189,271}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,12},{189,271}}</string>
                <key>sourceSize</key>
                <string>{249,313}</string>
            </dict>
            <key>InikoRunning_Left32.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1158},{200,269}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{200,269}}</string>
                <key>sourceSize</key>
                <string>{250,313}</string>
            </dict>
            <key>InikoRunning_Left33.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1275},{216,267}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{216,267}}</string>
                <key>sourceSize</key>
                <string>{250,313}</string>
            </dict>
            <key>InikoRunning_Left34.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1506},{224,264}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{224,264}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{174,287}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{174,287}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{156,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,10},{156,292}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{149,295}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,11},{149,295}}</string>
                <key>sourceSize</key>
                <string>{245,313}</string>
            </dict>
            <key>InikoRunning_Left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,131},{140,296}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,13},{140,296}}</string>
                <key>sourceSize</key>
                <string>{244,312}</string>
            </dict>
            <key>InikoRunning_Left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,297}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,14},{128,297}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
            <key>InikoRunning_Left9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{116,297}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,15},{116,297}}</string>
                <key>sourceSize</key>
                <string>{244,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>InikoRunningLeft1.png</string>
            <key>size</key>
            <string>{1022,1745}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11bfb4307b3654d63944d69f56afcb0f:84d1c0bbf845b427f29f965bbd2241ae:dc5f018a386403a0f4fcdeb964000e4c$</string>
            <key>textureFileName</key>
            <string>InikoRunningLeft1.png</string>
        </dict>
    </dict>
</plist>
