<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2trescuartos_izquierda_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{3277,183},{178,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{183,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{183,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{365,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{365,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{547,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{547,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{729,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{729,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{911,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{911,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1093,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1093,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1275,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1275,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1457,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1457,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1639,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1639,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1821,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{1821,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2003,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2003,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2185,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2185,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2367,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2367,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2549,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2549,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2731,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2731,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2913,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{2913,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{3095,1},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{3095,223},{180,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{3277,1},{180,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{3457,183},{178,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2trescuartos_izquierda_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,220}</string>
                <key>textureRect</key>
                <string>{{3277,183},{178,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_trescuartos_left3.png</string>
            <key>size</key>
            <string>{3636,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84766faab85c8fb4c87e5c9fab025450:b3ca80dc4784d83d19fe3f6d0f184647:847171568cb8ca9075f5ab399272a933$</string>
            <key>textureFileName</key>
            <string>enemigo2_trescuartos_left3.png</string>
        </dict>
    </dict>
</plist>
