<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo1Asesino_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-24}</string>
                <key>spriteSize</key>
                <string>{339,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1321,1},{339,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-24}</string>
                <key>spriteSize</key>
                <string>{337,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1321,342},{337,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-24}</string>
                <key>spriteSize</key>
                <string>{335,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1331,681},{335,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{62,-24}</string>
                <key>spriteSize</key>
                <string>{333,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1351,1018},{333,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-24}</string>
                <key>spriteSize</key>
                <string>{329,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1795,669},{329,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-24}</string>
                <key>spriteSize</key>
                <string>{325,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2015,1},{325,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-24}</string>
                <key>spriteSize</key>
                <string>{317,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2017,661},{317,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-24}</string>
                <key>spriteSize</key>
                <string>{311,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2237,1},{311,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-24}</string>
                <key>spriteSize</key>
                <string>{301,220}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2239,645},{301,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-25}</string>
                <key>spriteSize</key>
                <string>{285,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2301,948},{285,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-25}</string>
                <key>spriteSize</key>
                <string>{269,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2461,286},{269,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-25}</string>
                <key>spriteSize</key>
                <string>{257,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2888,1},{257,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-25}</string>
                <key>spriteSize</key>
                <string>{265,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2521,825},{265,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-25}</string>
                <key>spriteSize</key>
                <string>{283,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2459,1},{283,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-25}</string>
                <key>spriteSize</key>
                <string>{301,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2241,314},{301,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-25}</string>
                <key>spriteSize</key>
                <string>{315,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2021,328},{315,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-25}</string>
                <key>spriteSize</key>
                <string>{327,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1801,332},{327,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{335,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1543,1},{335,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-25}</string>
                <key>spriteSize</key>
                <string>{347,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1101,386},{347,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-25}</string>
                <key>spriteSize</key>
                <string>{365,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,881},{365,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-25}</string>
                <key>spriteSize</key>
                <string>{383,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1101,1},{383,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-25}</string>
                <key>spriteSize</key>
                <string>{403,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{661,841},{403,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-25}</string>
                <key>spriteSize</key>
                <string>{409,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{881,418},{409,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-25}</string>
                <key>spriteSize</key>
                <string>{415,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{661,424},{415,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-25}</string>
                <key>spriteSize</key>
                <string>{421,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{661,1},{421,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-25}</string>
                <key>spriteSize</key>
                <string>{427,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{441,1},{427,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{433,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{221,1},{433,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-25}</string>
                <key>spriteSize</key>
                <string>{439,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,1},{439,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-25}</string>
                <key>spriteSize</key>
                <string>{437,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1,442},{437,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{433,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{221,436},{433,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-25}</string>
                <key>spriteSize</key>
                <string>{423,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{441,430},{423,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-25}</string>
                <key>spriteSize</key>
                <string>{415,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{881,1},{415,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-25}</string>
                <key>spriteSize</key>
                <string>{401,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{881,829},{401,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-25}</string>
                <key>spriteSize</key>
                <string>{385,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{441,855},{385,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-25}</string>
                <key>spriteSize</key>
                <string>{365,218}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{221,871},{365,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-20}</string>
                <key>spriteSize</key>
                <string>{341,228}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1101,735},{341,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-14}</string>
                <key>spriteSize</key>
                <string>{329,240}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1553,669},{329,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-9}</string>
                <key>spriteSize</key>
                <string>{329,250}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1763,1},{329,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-6}</string>
                <key>spriteSize</key>
                <string>{329,256}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1543,338},{329,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{211,260}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2681,271},{211,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{207,264}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2666,557},{207,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{207,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2679,1},{207,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{209,268}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2090,980},{209,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{203,266}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2461,557},{203,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{193,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1895,1000},{193,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{207,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1686,1000},{207,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{193,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2741,823},{193,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{189,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2875,533},{189,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{185,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2894,260},{185,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{185,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2936,783},{185,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{169,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{1101,1078},{169,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{167,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2741,1073},{167,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3066,510},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3081,260},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3108,1},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{2991,1033},{159,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3123,760},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3227,510},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3242,251},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3269,1},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3241,1010},{159,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3284,760},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3388,501},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3403,251},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3430,1},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3445,751},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3549,501},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3564,251},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3591,1},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3491,1001},{159,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3606,751},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3710,501},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3725,251},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3752,1},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3913,1},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3886,251},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3871,501},{159,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3767,751},{159,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3767,912},{159,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-10}</string>
                <key>spriteSize</key>
                <string>{159,248}</string>
                <key>spriteSourceSize</key>
                <string>{469,268}</string>
                <key>textureRect</key>
                <string>{{3741,1073},{159,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo1_matar_right2.png</string>
            <key>size</key>
            <string>{4089,1249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:054bed7bcee04834c17aff1f00f657d9:93f5c363b841e192def406b5e30cf4c9:776824d9019a66dd9074036385f7494c$</string>
            <key>textureFileName</key>
            <string>enemigo1_matar_right2.png</string>
        </dict>
    </dict>
</plist>
