<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoAsesina2_derecha_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{346,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{336,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1,314},{336,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{324,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{349,1},{324,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{318,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1,627},{318,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{306,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1,940},{306,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{294,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{309,940},{294,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{282,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{321,627},{282,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{274,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{339,314},{274,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{274,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{675,1},{274,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{274,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{615,314},{274,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{274,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{605,627},{274,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{274,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{605,940},{274,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{270,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{951,1},{270,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,0}</string>
                <key>spriteSize</key>
                <string>{266,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{891,314},{266,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,0}</string>
                <key>spriteSize</key>
                <string>{260,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{881,627},{260,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,0}</string>
                <key>spriteSize</key>
                <string>{252,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{881,940},{252,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1135,940},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1143,627},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1159,314},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1391,627},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1407,314},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{244,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1639,627},{244,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{244,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1655,314},{244,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{244,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2635,627},{244,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{244,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2651,314},{244,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{244,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3145,314},{244,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3129,627},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3129,940},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3467,1},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3711,1},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3391,314},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3373,627},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3373,940},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3635,314},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3617,627},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,0}</string>
                <key>spriteSize</key>
                <string>{242,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3617,940},{242,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1223,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1385,940},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1473,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1635,940},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1723,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1973,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1901,314},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1885,627},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{1885,940},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2223,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2151,314},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2135,627},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2135,940},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2473,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2401,314},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2385,627},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2385,940},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2633,940},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2723,1},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2971,1},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2897,314},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2881,627},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{2881,940},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoAsesina2_derecha_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,0}</string>
                <key>spriteSize</key>
                <string>{246,311}</string>
                <key>spriteSourceSize</key>
                <string>{350,311}</string>
                <key>textureRect</key>
                <string>{{3219,1},{246,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>iniko_matar_enemigo2_izquierda1.png</string>
            <key>size</key>
            <string>{3954,1252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c882985de508bea8bc4ba97edb11f8a:83461fdc5859d379b39ade2c275bf4d2:6b8055a7060837b510b292b90d017ded$</string>
            <key>textureFileName</key>
            <string>iniko_matar_enemigo2_izquierda1.png</string>
        </dict>
    </dict>
</plist>
