<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2Asesino_derecha_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-46}</string>
                <key>spriteSize</key>
                <string>{207,221}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1123,168},{207,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-47}</string>
                <key>spriteSize</key>
                <string>{207,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1211,377},{207,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-47}</string>
                <key>spriteSize</key>
                <string>{209,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1000,389},{209,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{213,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{695,168},{213,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-47}</string>
                <key>spriteSize</key>
                <string>{213,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{785,389},{213,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-47}</string>
                <key>spriteSize</key>
                <string>{211,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{910,168},{211,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-47}</string>
                <key>spriteSize</key>
                <string>{203,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1346,166},{203,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-47}</string>
                <key>spriteSize</key>
                <string>{195,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1400,598},{195,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-47}</string>
                <key>spriteSize</key>
                <string>{195,219}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1420,371},{195,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{193,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1567,166},{193,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{193,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1617,361},{193,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{193,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1786,164},{193,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{193,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1621,580},{193,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{191,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1812,359},{191,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{189,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1816,578},{189,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-48}</string>
                <key>spriteSize</key>
                <string>{183,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2005,160},{183,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-48}</string>
                <key>spriteSize</key>
                <string>{179,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2005,379},{179,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-27}</string>
                <key>spriteSize</key>
                <string>{175,259}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{880,610},{175,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-22}</string>
                <key>spriteSize</key>
                <string>{175,269}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{609,616},{175,269}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{173,277}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{520,170},{173,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-14}</string>
                <key>spriteSize</key>
                <string>{171,285}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{184,1},{171,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{171,293}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{314,621},{171,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{171,303}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{180,316},{171,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{171,311}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1,621},{171,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{181,313}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{177,303}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1,316},{177,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{167,289}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{357,1},{167,289}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{165,293}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{353,288},{165,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-23}</string>
                <key>spriteSize</key>
                <string>{165,267}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{648,1},{165,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-25}</string>
                <key>spriteSize</key>
                <string>{165,263}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{520,449},{165,263}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-29}</string>
                <key>spriteSize</key>
                <string>{165,255}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{917,1},{165,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-28}</string>
                <key>spriteSize</key>
                <string>{163,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1141,610},{163,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-31}</string>
                <key>spriteSize</key>
                <string>{163,251}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1174,1},{163,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-33}</string>
                <key>spriteSize</key>
                <string>{163,247}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1427,1},{163,247}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-32}</string>
                <key>spriteSize</key>
                <string>{161,249}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1676,1},{161,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-48}</string>
                <key>spriteSize</key>
                <string>{157,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{1927,1},{157,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-48}</string>
                <key>spriteSize</key>
                <string>{155,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2146,1},{155,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-48}</string>
                <key>spriteSize</key>
                <string>{153,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2190,158},{153,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-48}</string>
                <key>spriteSize</key>
                <string>{149,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2007,560},{149,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{147,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2158,560},{147,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{143,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2307,524},{143,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2492,148},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{145,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2224,377},{145,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-48}</string>
                <key>spriteSize</key>
                <string>{145,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2345,158},{145,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-48}</string>
                <key>spriteSize</key>
                <string>{145,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2365,1},{145,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{143,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2443,377},{143,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2584,1},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2635,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2452,522},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2595,522},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2662,363},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2778,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2803,1},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2738,506},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2881,363},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2921,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3022,1},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{2881,582},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3024,363},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3064,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3024,582},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3167,363},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3207,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3241,1},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3167,582},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3310,363},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3350,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3460,1},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3310,582},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3453,363},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3493,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3453,582},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3596,363},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3636,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3679,1},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3779,144},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3815,363},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3596,506},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_derecha_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3815,582},{141,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_derecha_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-48}</string>
                <key>spriteSize</key>
                <string>{141,217}</string>
                <key>spriteSourceSize</key>
                <string>{213,313}</string>
                <key>textureRect</key>
                <string>{{3596,649},{141,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_matar_right2.png</string>
            <key>size</key>
            <string>{3957,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e755171263110ee477062233ffc0d81:bdac967c0e2e1a0f70ef836cf6aa0ad5:2f5b808e3f63e98cdee6333cbb9d4831$</string>
            <key>textureFileName</key>
            <string>enemigo2_matar_right2.png</string>
        </dict>
    </dict>
</plist>
