<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2_andar(derecha)_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{211,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1,329},{211,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{209,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{429,1},{209,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{207,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{427,329},{207,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{203,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{425,985},{203,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{201,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{632,657},{201,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{199,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{841,329},{199,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{197,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{835,985},{197,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{195,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1036,657},{195,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{193,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1042,329},{193,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{193,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1249,1},{193,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{191,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1237,329},{191,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{191,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1233,657},{191,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{189,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1430,329},{189,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{187,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1637,1},{187,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{187,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1621,329},{187,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{187,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1617,657},{187,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{185,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1826,1},{185,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{185,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1806,657},{185,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{185,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1806,985},{185,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{187,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1617,985},{187,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{187,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1810,329},{187,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{189,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1426,657},{189,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{189,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1426,985},{189,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{191,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1233,985},{191,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{191,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1444,1},{191,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{195,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1052,1},{195,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{197,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1034,985},{197,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{199,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{835,657},{199,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{201,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{849,1},{201,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{203,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{630,985},{203,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{203,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{636,329},{203,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{205,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{425,657},{205,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{207,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{640,1},{207,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{209,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{214,657},{209,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{209,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{214,985},{209,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{211,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{216,1},{211,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{211,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1,657},{211,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{211,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1,985},{211,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{213,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2_andar(derecha)_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{211,326}</string>
                <key>spriteSourceSize</key>
                <string>{213,330}</string>
                <key>textureRect</key>
                <string>{{214,329},{211,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_andar_right1plist.png</string>
            <key>size</key>
            <string>{2012,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34ca7cec7b86567da9ca4a2af6ded9b0:19901f21aea134a42e116df994081303:cd19043093b4756b865b7b578d73c7f5$</string>
            <key>textureFileName</key>
            <string>enemigo2_andar_right1plist.png</string>
        </dict>
    </dict>
</plist>
