<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo2Asesino_detras_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-250,-137}</string>
                <key>spriteSize</key>
                <string>{163,206}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1334,1},{163,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-250,-137}</string>
                <key>spriteSize</key>
                <string>{163,206}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1392,417},{163,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-249,-137}</string>
                <key>spriteSize</key>
                <string>{165,206}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1288,209},{165,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-248,-137}</string>
                <key>spriteSize</key>
                <string>{167,206}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1223,491},{167,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,-137}</string>
                <key>spriteSize</key>
                <string>{169,206}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1163,1},{169,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-249,-138}</string>
                <key>spriteSize</key>
                <string>{165,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1499,1},{165,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-253,-138}</string>
                <key>spriteSize</key>
                <string>{157,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1885,413},{157,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-258,-138}</string>
                <key>spriteSize</key>
                <string>{147,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1992,1},{147,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-258,-138}</string>
                <key>spriteSize</key>
                <string>{145,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2044,413},{145,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-258,-138}</string>
                <key>spriteSize</key>
                <string>{145,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2103,207},{145,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-258,-138}</string>
                <key>spriteSize</key>
                <string>{145,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2191,413},{145,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-260,-138}</string>
                <key>spriteSize</key>
                <string>{149,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1952,207},{149,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-265,-138}</string>
                <key>spriteSize</key>
                <string>{159,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1831,1},{159,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-268,-138}</string>
                <key>spriteSize</key>
                <string>{163,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1557,415},{163,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-269,-138}</string>
                <key>spriteSize</key>
                <string>{161,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1722,413},{161,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273,-138}</string>
                <key>spriteSize</key>
                <string>{163,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1624,207},{163,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-138}</string>
                <key>spriteSize</key>
                <string>{169,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{279,613},{169,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-279,-115}</string>
                <key>spriteSize</key>
                <string>{175,250}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{678,1},{175,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-282,-110}</string>
                <key>spriteSize</key>
                <string>{181,260}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{728,547},{181,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-285,-106}</string>
                <key>spriteSize</key>
                <string>{187,268}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{636,277},{187,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-288,-102}</string>
                <key>spriteSize</key>
                <string>{193,276}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1,619},{193,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-292,-98}</string>
                <key>spriteSize</key>
                <string>{199,284}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{435,293},{199,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-296,-95}</string>
                <key>spriteSize</key>
                <string>{205,290}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{238,1},{205,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-299,-91}</string>
                <key>spriteSize</key>
                <string>{211,298}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{222,313},{211,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-303,-88}</string>
                <key>spriteSize</key>
                <string>{219,304}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1,313},{219,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-303,-85}</string>
                <key>spriteSize</key>
                <string>{235,310}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{235,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-311,-103}</string>
                <key>spriteSize</key>
                <string>{231,274}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{445,1},{231,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-311,-102}</string>
                <key>spriteSize</key>
                <string>{231,276}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{450,579},{231,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273,-118}</string>
                <key>spriteSize</key>
                <string>{151,244}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{982,249},{151,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-273,-118}</string>
                <key>spriteSize</key>
                <string>{151,244}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1010,1},{151,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-274,-118}</string>
                <key>spriteSize</key>
                <string>{151,244}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1070,495},{151,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-274,-119}</string>
                <key>spriteSize</key>
                <string>{151,242}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1135,247},{151,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-275,-117}</string>
                <key>spriteSize</key>
                <string>{153,246}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{855,1},{153,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-276,-115}</string>
                <key>spriteSize</key>
                <string>{155,250}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{825,253},{155,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-277,-118}</string>
                <key>spriteSize</key>
                <string>{157,244}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{911,505},{157,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-279,-138}</string>
                <key>spriteSize</key>
                <string>{161,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1789,207},{161,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-280,-138}</string>
                <key>spriteSize</key>
                <string>{163,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1666,1},{163,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-282,-138}</string>
                <key>spriteSize</key>
                <string>{167,204}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1455,209},{167,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-283,-139}</string>
                <key>spriteSize</key>
                <string>{169,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3922,613},{169,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-284,-139}</string>
                <key>spriteSize</key>
                <string>{171,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3860,409},{171,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-286,-139}</string>
                <key>spriteSize</key>
                <string>{175,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3745,613},{175,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-287,-139}</string>
                <key>spriteSize</key>
                <string>{177,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3858,1},{177,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-289,-139}</string>
                <key>spriteSize</key>
                <string>{181,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3778,205},{181,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-290,-139}</string>
                <key>spriteSize</key>
                <string>{183,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3675,409},{183,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-291,-139}</string>
                <key>spriteSize</key>
                <string>{185,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3558,613},{185,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-292,-139}</string>
                <key>spriteSize</key>
                <string>{187,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3669,1},{187,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1392,625},{189,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1596,621},{189,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{1800,619},{189,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2004,619},{189,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2141,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2250,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2332,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2208,619},{189,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo2Asesino_detras_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2338,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2441,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2523,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2412,613},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2529,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2632,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2714,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2603,613},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2720,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2823,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2905,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2794,613},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2911,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3014,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3096,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{2985,613},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3102,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3205,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3287,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3176,613},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3293,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3396,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3478,1},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3367,613},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3484,409},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo2Asesino_detras_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-293,-139}</string>
                <key>spriteSize</key>
                <string>{189,202}</string>
                <key>spriteSourceSize</key>
                <string>{853,480}</string>
                <key>textureRect</key>
                <string>{{3587,205},{189,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo2_matar_detras_left3.png</string>
            <key>size</key>
            <string>{4092,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ff3606c1c6f44e8a351ba85002d19a:0bb0d44d06c23716419a43cb0d77eb24:31dbc7af45f0353a09394c941bcdd436$</string>
            <key>textureFileName</key>
            <string>enemigo2_matar_detras_left3.png</string>
        </dict>
    </dict>
</plist>
