<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{166,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{841,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1009,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1177,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1345,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1513,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1681,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{166,306}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{1849,1},{166,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{166,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{169,1},{166,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{166,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{337,1},{166,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{166,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{505,1},{166,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{166,308}</string>
                <key>spriteSourceSize</key>
                <string>{172,312}</string>
                <key>textureRect</key>
                <string>{{673,1},{166,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Left1.png</string>
            <key>size</key>
            <string>{2016,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b126bf3f0cc94af7daef25e430ed2abc:ae0112b35884f8ba7ab387c572677a15:067d8939471cc02e72988e055c0ca1b6$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Left1.png</string>
        </dict>
    </dict>
</plist>
