<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>InikoIdle_Left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{116,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{231,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{346,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{461,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{576,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{691,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{806,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{113,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{921,1},{113,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1036,1},{111,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1149,1},{111,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InikoIdle_Left12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{111,206}</string>
                <key>spriteSourceSize</key>
                <string>{115,208}</string>
                <key>textureRect</key>
                <string>{{1262,1},{111,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>InikoIdle_Left3.png</string>
            <key>size</key>
            <string>{1374,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b126bf3f0cc94af7daef25e430ed2abc:ae0112b35884f8ba7ab387c572677a15:067d8939471cc02e72988e055c0ca1b6$</string>
            <key>textureFileName</key>
            <string>InikoIdle_Left3.png</string>
        </dict>
    </dict>
</plist>
