<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo1Asesino_detras_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{107,-34}</string>
                <key>spriteSize</key>
                <string>{426,309}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{5176,617},{426,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,-34}</string>
                <key>spriteSize</key>
                <string>{422,309}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{491,924},{422,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{104,-34}</string>
                <key>spriteSize</key>
                <string>{422,309}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{915,924},{422,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,-34}</string>
                <key>spriteSize</key>
                <string>{416,309}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1339,924},{416,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{99,-35}</string>
                <key>spriteSize</key>
                <string>{412,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{5025,308},{412,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-35}</string>
                <key>spriteSize</key>
                <string>{406,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{748,615},{406,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{91,-35}</string>
                <key>spriteSize</key>
                <string>{396,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{350,608},{396,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,-35}</string>
                <key>spriteSize</key>
                <string>{386,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{363,299},{386,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-35}</string>
                <key>spriteSize</key>
                <string>{372,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{751,303},{372,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,-35}</string>
                <key>spriteSize</key>
                <string>{360,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1,295},{360,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,-36}</string>
                <key>spriteSize</key>
                <string>{350,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1505,1},{350,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-36}</string>
                <key>spriteSize</key>
                <string>{350,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1857,1},{350,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-36}</string>
                <key>spriteSize</key>
                <string>{368,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2209,1},{368,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-36}</string>
                <key>spriteSize</key>
                <string>{386,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2579,1},{386,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-36}</string>
                <key>spriteSize</key>
                <string>{404,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2967,1},{404,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-36}</string>
                <key>spriteSize</key>
                <string>{422,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3373,1},{422,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-36}</string>
                <key>spriteSize</key>
                <string>{434,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3797,1},{434,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-36}</string>
                <key>spriteSize</key>
                <string>{444,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4233,1},{444,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-36}</string>
                <key>spriteSize</key>
                <string>{456,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4679,1},{456,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{476,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{5137,1},{476,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-36}</string>
                <key>spriteSize</key>
                <string>{498,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1125,308},{498,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-36}</string>
                <key>spriteSize</key>
                <string>{522,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1625,308},{522,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-36}</string>
                <key>spriteSize</key>
                <string>{544,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2149,308},{544,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-36}</string>
                <key>spriteSize</key>
                <string>{568,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2695,308},{568,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-36}</string>
                <key>spriteSize</key>
                <string>{576,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3265,308},{576,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-36}</string>
                <key>spriteSize</key>
                <string>{586,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3843,308},{586,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-36}</string>
                <key>spriteSize</key>
                <string>{592,305}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4431,308},{592,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-35}</string>
                <key>spriteSize</key>
                <string>{600,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1156,615},{600,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-35}</string>
                <key>spriteSize</key>
                <string>{596,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1758,615},{596,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-35}</string>
                <key>spriteSize</key>
                <string>{590,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2356,615},{590,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-35}</string>
                <key>spriteSize</key>
                <string>{578,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2948,615},{578,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-35}</string>
                <key>spriteSize</key>
                <string>{566,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3528,615},{566,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-35}</string>
                <key>spriteSize</key>
                <string>{550,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4096,615},{550,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-35}</string>
                <key>spriteSize</key>
                <string>{526,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4648,617},{526,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-35}</string>
                <key>spriteSize</key>
                <string>{488,307}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1,917},{488,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-93,-29}</string>
                <key>spriteSize</key>
                <string>{464,319}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2106,924},{464,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-20}</string>
                <key>spriteSize</key>
                <string>{448,337}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4666,926},{448,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-14}</string>
                <key>spriteSize</key>
                <string>{446,349}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4286,1614},{446,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,-9}</string>
                <key>spriteSize</key>
                <string>{440,359}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4734,1619},{440,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-98,-6}</string>
                <key>spriteSize</key>
                <string>{440,365}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{5176,1619},{440,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-4}</string>
                <key>spriteSize</key>
                <string>{292,369}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{296,377}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{372,1},{296,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,0}</string>
                <key>spriteSize</key>
                <string>{300,377}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{751,1},{300,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-2}</string>
                <key>spriteSize</key>
                <string>{304,373}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1130,1},{304,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-15}</string>
                <key>spriteSize</key>
                <string>{308,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1,604},{308,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-15}</string>
                <key>spriteSize</key>
                <string>{312,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1757,924},{312,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-15}</string>
                <key>spriteSize</key>
                <string>{320,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2572,924},{320,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-15}</string>
                <key>spriteSize</key>
                <string>{326,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2921,924},{326,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-15}</string>
                <key>spriteSize</key>
                <string>{332,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3270,924},{332,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-15}</string>
                <key>spriteSize</key>
                <string>{340,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{5116,928},{340,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-15}</string>
                <key>spriteSize</key>
                <string>{346,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1397,1235},{346,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-15}</string>
                <key>spriteSize</key>
                <string>{352,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2095,1245},{352,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-15}</string>
                <key>spriteSize</key>
                <string>{358,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2449,1246},{358,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-15}</string>
                <key>spriteSize</key>
                <string>{366,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2809,1252},{366,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-15}</string>
                <key>spriteSize</key>
                <string>{370,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3177,1258},{370,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-15}</string>
                <key>spriteSize</key>
                <string>{364,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3549,1258},{364,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-15}</string>
                <key>spriteSize</key>
                <string>{370,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3915,1262},{370,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-15}</string>
                <key>spriteSize</key>
                <string>{352,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4287,1264},{352,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-15}</string>
                <key>spriteSize</key>
                <string>{336,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3968,924},{336,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-15}</string>
                <key>spriteSize</key>
                <string>{340,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1,1226},{340,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-15}</string>
                <key>spriteSize</key>
                <string>{342,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{699,1235},{342,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-15}</string>
                <key>spriteSize</key>
                <string>{346,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1746,1238},{346,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-15}</string>
                <key>spriteSize</key>
                <string>{350,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4641,1265},{350,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-15}</string>
                <key>spriteSize</key>
                <string>{352,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4993,1270},{352,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-15}</string>
                <key>spriteSize</key>
                <string>{354,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{350,1579},{354,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-15}</string>
                <key>spriteSize</key>
                <string>{364,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{706,1579},{364,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-15}</string>
                <key>spriteSize</key>
                <string>{354,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1072,1583},{354,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-15}</string>
                <key>spriteSize</key>
                <string>{354,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1428,1586},{354,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-15}</string>
                <key>spriteSize</key>
                <string>{354,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1784,1594},{354,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,-15}</string>
                <key>spriteSize</key>
                <string>{358,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2140,1595},{358,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-15}</string>
                <key>spriteSize</key>
                <string>{354,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2500,1601},{354,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-15}</string>
                <key>spriteSize</key>
                <string>{356,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{2856,1607},{356,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-15}</string>
                <key>spriteSize</key>
                <string>{354,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3214,1607},{354,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-15}</string>
                <key>spriteSize</key>
                <string>{360,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3570,1611},{360,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-15}</string>
                <key>spriteSize</key>
                <string>{352,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3932,1611},{352,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1Asesino_detras_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,-15}</string>
                <key>spriteSize</key>
                <string>{350,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1,1568},{350,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-15}</string>
                <key>spriteSize</key>
                <string>{342,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{1048,1235},{342,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-15}</string>
                <key>spriteSize</key>
                <string>{332,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{3619,924},{332,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-15}</string>
                <key>spriteSize</key>
                <string>{336,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{4317,926},{336,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1Asesino_detras_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-15}</string>
                <key>spriteSize</key>
                <string>{340,347}</string>
                <key>spriteSourceSize</key>
                <string>{650,377}</string>
                <key>textureRect</key>
                <string>{{350,1235},{340,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo1_matar_detras_left1.png</string>
            <key>size</key>
            <string>{5617,1985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:745eae121b95bd8aaae018d0fa371aae:e315ee6bece8597222bf4673a42b1386:62197be923acc6cd363c50d51dc41b84$</string>
            <key>textureFileName</key>
            <string>enemigo1_matar_detras_left1.png</string>
        </dict>
    </dict>
</plist>
