<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemigo1_andar_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{91,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{638,1},{91,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{89,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{824,1},{89,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{89,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{872,257},{89,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{87,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{963,257},{87,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{85,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1006,1},{85,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{85,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1052,257},{85,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{83,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1093,1},{83,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{81,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1139,257},{81,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-3}</string>
                <key>spriteSize</key>
                <string>{81,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1178,1},{81,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{79,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1222,257},{79,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-3}</string>
                <key>spriteSize</key>
                <string>{79,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1261,1},{79,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{77,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1303,257},{77,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{77,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1342,1},{77,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{77,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1382,257},{77,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{75,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1571,1},{75,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{75,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1648,1},{75,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{75,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1542,334},{75,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{75,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1542,411},{75,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{77,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1492,1},{77,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{79,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1461,257},{79,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-4}</string>
                <key>spriteSize</key>
                <string>{77,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1542,255},{77,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{75,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{521,356},{75,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{75,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{521,433},{75,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-4}</string>
                <key>spriteSize</key>
                <string>{71,252}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1725,1},{71,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-3}</string>
                <key>spriteSize</key>
                <string>{69,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1421,1},{69,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{67,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{500,1},{67,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{67,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{569,1},{67,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{81,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{417,1},{81,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{93,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{322,1},{93,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{101,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{219,1},{101,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1,1},{107,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1,263},{107,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,260}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{110,1},{107,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{103,258}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{1,372},{103,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{99,258}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{261,372},{99,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{95,256}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{263,263},{95,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{91,256}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{521,263},{91,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Enemigo1_andar_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-3}</string>
                <key>spriteSize</key>
                <string>{89,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{915,1},{89,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{91,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{731,1},{91,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Enemigo1_andar_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{91,254}</string>
                <key>spriteSourceSize</key>
                <string>{107,260}</string>
                <key>textureRect</key>
                <string>{{779,257},{91,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>enemigo_andar_left3.png</string>
            <key>size</key>
            <string>{1797,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abfa8b5ca4d7af8ce5bab150e47d9c8c:576168fa0563d1bc31564826d06a7559:a64334e741e349003cc8d48f0c511fe8$</string>
            <key>textureFileName</key>
            <string>enemigo_andar_left3.png</string>
        </dict>
    </dict>
</plist>
